<%# locals: (form:) %>

<% action = form.object %>
<% rule = action.rule %>

<li data-rule-target="action">
  <%= form.hidden_field :_destroy, value: false, data: { rule_target: "destroyField" } %>
  <%= form.select :action_type, rule.action_executors.map { |executor| [ executor.label, executor.key ] }, {}, data: { action: "rule#handleActionTypeChange" } %>

  <% if action.executor.type == "select" %>
    <span>to</span>
    <%= form.select :value, action.options, {}, data: { rule_target: "valueField" } %>
  <% else %>
    <%= form.hidden_field :value, data: { rule_target: "valueField" } %>
  <% end %>

  <button type="button"
          data-action="rule#removeAction"
          data-rule-destroy-param="<%= action.persisted? %>">
    Remove
  </button>
</li>
