<%# locals: (category:, transaction:) %>
<% is_selected = transaction.category_id == category.id %>
<%= content_tag :div, class: ["filterable-item flex justify-between items-center border-none rounded-lg px-2 py-1 group w-full", { "bg-gray-25": is_selected }], data: { filter_name: category.name } do %>
  <%= button_to transaction_path(transaction, transaction: { category_id: category.id }), method: :patch, class: "flex w-full items-center gap-1.5 cursor-pointer" do %>
    <span class="w-5 h-5">
      <%= lucide_icon("check", class: "w-5 h-5 text-gray-500") if is_selected %>
    </span>
    <%= render partial: "transactions/categories/badge", locals: { category: category } %>
  <% end %>
  <div data-controller="menu">
    <button data-menu-target="button" type="button" class="flex items-center justify-center hover:bg-gray-50 w-8 h-8 rounded-lg">
      <%= lucide_icon("more-horizontal", class: "w-5 h-5 text-gray-500") %>
    </button>
    <div data-menu-target="content" class="absolute z-30 hidden w-screen mt-2 max-w-min">
      <%= render partial: "transactions/categories/dropdown/edit", locals: { category: } %>
    </div>
  </div>
<% end %>
