<%# locals: (date:, transactions:, transfers: [], selectable: true, **transaction_opts) %>
<div id="date-group-<%= date %>" class="bg-gray-25 rounded-xl p-1 w-full" data-bulk-select-target="group">
  <div class="py-2 px-4 flex items-center justify-between font-medium text-xs text-gray-500">
    <div class="flex pl-0.5 items-center gap-4">
      <% if selectable %>
        <%= check_box_tag "#{date}_transactions_selection",
                          class: ["maybe-checkbox maybe-checkbox--light", "hidden": transactions.count == 0],
                          id: "selection_transaction_#{date}",
                          data: { action: "bulk-select#toggleGroupSelection" } %>
      <% end %>

      <%= tag.span "#{date.strftime('%b %d, %Y')} · #{transactions.size + (transfers.size * 2)}" %>
    </div>

    <%= totals_by_currency(collection: transactions.map(&:entry), money_method: :amount_money, negate: true) %>
  </div>
  <div class="bg-white shadow-xs rounded-md border border-alpha-black-25 divide-y divide-alpha-black-50">
    <%= render transactions, selectable:, **transaction_opts.except(:selectable) %>
    <%= render transfers %>
  </div>
</div>
