<%= modal do %>
  <article class="mx-auto p-4 w-screen max-w-md">
    <div class="space-y-2">
      <header class="flex justify-between">
        <h2 class="font-medium text-xl"><%= t(".delete_tag") %></h2>
        <%= lucide_icon "x", class: "w-5 h-5 text-gray-500", data: { action: "click->modal#close" } %>
      </header>

      <p class="text-gray-500 font-light">
        <%= t(".explanation", tag_name: @tag.name) %>
      </p>
    </div>

    <%= form_with url: tag_deletions_path(@tag),
                  data: {
                    turbo: false,
                    controller: "deletion",
                    deletion_dangerous_action_class: "form-field__submit bg-white text-red-600 border hover:bg-red-50",
                    deletion_safe_action_class: "form-field__submit border border-transparent",
                    deletion_submit_text_when_not_replacing_value: t(".delete_and_leave_uncategorized", tag_name: @tag.name),
                    deletion_submit_text_when_replacing_value: t(".delete_and_recategorize", tag_name: @tag.name) } do |f| %>
      <%= f.collection_select :replacement_tag_id,
                              Current.family.tags.alphabetically.without(@tag),
                              :id, :name,
                              { prompt: t(".replacement_tag_prompt"), label: t(".tag") },
                              { data: { deletion_target: "replacementField", action: "deletion#updateSubmitButton" } } %>

      <%= f.submit t(".delete_and_leave_uncategorized", tag_name: @tag.name),
                   class: "form-field__submit bg-white text-red-600 border hover:bg-red-50",
                   data: { deletion_target: "submitButton" } %>
    <% end %>
  </article>
<% end %>
