<%# locals: (date:, entries:, selectable: true, **opts) %>
<div id="entry-group-<%= date %>" class="bg-gray-25 rounded-xl p-1 w-full" data-bulk-select-target="group">
  <div class="py-2 px-4 flex items-center justify-between font-medium text-xs text-gray-500">
    <div class="flex pl-0.5 items-center gap-4">
      <% if selectable %>
        <%= check_box_tag "#{date}_entries_selection",
                          class: ["maybe-checkbox maybe-checkbox--light", "hidden": entries.size == 0],
                          id: "selection_entry_#{date}",
                          data: { action: "bulk-select#toggleGroupSelection" } %>
      <% end %>

      <%= tag.span "#{date.strftime('%b %d, %Y')} · #{entries.size}" %>
    </div>

    <%= totals_by_currency(collection: entries, money_method: :amount_money, negate: true) %>
  </div>
  <div class="bg-white shadow-xs rounded-md border border-alpha-black-25 divide-y divide-alpha-black-50">
    <%= render entries.reject { |e| e.transfer_id.present? }, selectable:, **opts %>
    <%= render transfer_entries(entries), selectable:, **opts %>
  </div>
</div>
