<%# locals: (chat: nil, message_hint: nil) %>

<div id="chat-form" class="space-y-2">
  <% model = chat && chat.persisted? ? [chat, Message.new] : Chat.new %>

  <%= form_with model: model,
                class: "flex items-center gap-2 bg-container p-2 rounded-full shadow-sm border border-gray-100 h-11",
                data: { chat_target: "form" } do |f| %>

    <%# In the future, this will be a dropdown with different AI models %>
    <%= f.hidden_field :ai_model, value: "gpt-4o" %>
    
    <button type="button" class="flex-shrink-0 text-secondary p-1">
      <%= lucide_icon("plus", class: "w-5 h-5") %>
    </button>

    <%= f.text_area :content, placeholder: "Ask anything ...", value: message_hint,
                  class: "w-full border-0 focus:ring-0 text-sm resize-none bg-transparent py-0",
                  data: { chat_target: "input", action: "input->chat#autoResize keydown->chat#handleInputKeyDown" },
                  rows: 1 %>

    <button type="submit" class="flex-shrink-0 text-secondary bg-gray-50 rounded-full p-2">
      <%= lucide_icon("arrow-up", class: "w-4 h-4") %>
    </button>
  <% end %>

  <p class="text-xs text-secondary mt-1">AI responses are informational only and are not financial advice.</p>
</div>
