<%
  header_title t('.title')
%>

<%= form_with url: session_path, html: {class: 'space-y-6'} do |form| %>
  <%= auth_messages form %>

  <%= form.email_field :email, label: t('.email'), autofocus: false, autocomplete: "email", required: 'required', placeholder: t('.email_placeholder') %>

  <%= form.password_field :password, label: true, required: 'required' %>

  <%= form.submit t('.submit') %>
<% end %>

<div class="mt-6 text-center">
  <p class="text-sm text-gray-600"><%= t('.forgot_password') %> <%= link_to t('.reset_password'), new_password_reset_path, class: 'font-medium text-gray-600 hover:text-gray-400 transition' %></p>
</div>
