<%= content_for :page_title, t(".page_title") %>

<%= settings_section title: t(".general_title"), subtitle: t(".general_subtitle") do %>
  <div>
    <%= styled_form_with model: @user, class: "space-y-4", data: { controller: "auto-submit-form" } do |form| %>
      <%= form.hidden_field :redirect_to, value: "preferences" %>

      <%= form.fields_for :family do |family_form| %>
        <%= family_form.select :currency,
            Money::Currency.as_options.map { |currency| [ "#{currency.name} (#{currency.iso_code})", currency.iso_code ] },
            { label: t(".currency") }, disabled: true %>

        <%= family_form.select :locale,
            language_options,
            { label: t(".language") },
            { data: { auto_submit_form_target: "auto" } } %>

        <%= family_form.select :timezone,
            timezone_options,
            { label: t(".timezone") },
            { data: { auto_submit_form_target: "auto" } } %>

        <%= family_form.select :date_format,
            Family::DATE_FORMATS,
            { label: t(".date_format") },
            { data: { auto_submit_form_target: "auto" } } %>

        <%= form.select :default_period,
            Period.all.map { |period| [ period.label, period.key ] },
            { label: t(".default_period") },
            { data: { auto_submit_form_target: "auto" } } %>

        <%= family_form.select :country,
            country_options,
            { label: t(".country") },
            { data: { auto_submit_form_target: "auto" } } %>

        <p class="text-xs italic pl-2 text-secondary">Please note, we are still working on translations for various languages.  Please see the <%= link_to "I18n issue", "https://github.com/maybe-finance/maybe/issues/1225", target: "_blank", class: "underline" %> for more information.</p>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= settings_section title: t(".theme_title"), subtitle: t(".theme_subtitle") do %>
  <div data-controller="theme" data-theme-user-preference-value="<%= @user.theme %>">
    <%= form_with model: @user, class: "flex flex-col md:flex-row justify-between items-center gap-4", id: "theme_form",
        data: { controller: "auto-submit-form", auto_submit_form_trigger_event_value: "change" } do |form| %>
      <%= form.hidden_field :redirect_to, value: "preferences" %>

      <% theme_option_class = "text-center transition-all duration-200 p-3 rounded-lg hover:bg-surface-hover cursor-pointer [&:has(input:checked)]:bg-surface-hover [&:has(input:checked)]:border [&:has(input:checked)]:border-primary [&:has(input:checked)]:shadow-xs" %>

      <% [
        { value: "light", image: "light-mode-preview.png" },
        { value: "dark", image: "dark-mode-preview.png" },
        { value: "system", image: "system-mode-preview.png" }
      ].each do |theme| %>
        <%= form.label :"theme_#{theme[:value]}", class: "group" do %>
          <div class="<%= theme_option_class %>">
            <%= image_tag(theme[:image], alt: "#{theme[:value].titleize} Theme Preview", class: "h-44 mb-2") %>
            <div class="<%= theme[:value] == "system" ? "flex items-center gap-2 justify-center" : "text-sm font-medium text-primary" %>">
              <%= form.radio_button :theme, theme[:value], checked: @user.theme == theme[:value], class: "sr-only",
                data: { auto_submit_form_target: "auto", autosubmit_trigger_event: "change", action: "theme#updateTheme" } %>
              <%= t(".theme_#{theme[:value]}") %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
