<%= drawer do %>
  <article class="prose">
    <%= tag.h2 t(".title") %>

    <% if @account.currency != @account.family.currency %>
      <p><%= @account.name %> has a currency of <%= @account.currency %>, but the family has a currency
        of <%= @account.family.currency %>. We have detected missing exchange rates and cannot properly sync this
        account.</p>
    <% else %>
      <p><%= @account.name %> has a currency of <%= @account.currency %>, but we have detected account entries in
        another
        currency and could not find exchange rates for them.</p>
    <% end %>

    <h3>How to fix this</h3>

    <% if ExchangeRate.exchange_rates_provider.present? %>
      <p>It appears that the exchange rates data provider you have configured does not have exchange rates for this
        account available.</p>

      <p>Please reach out via <a href="https://link.maybe.co/discord">Discord</a> or
        <a href="https://github.com/maybe-finance/maybe/discussions">Github</a> for assistance.</p>
    <% else %>
      <% if self_hosted? %>
        <p>You have not configured an exchange rates data provider yet. Currently, we support Synth Finance, which you
          can
          grab a free API key from <a href="https://synthfinance.com/">here</a>.</p>

        <p>Once you have an API key, you can paste it in the field below to start fetching exchange rates.</p>

        <%= styled_form_with model: Setting.new, url: settings_hosting_path, method: :patch, class: "space-y-3" do |f| %>
          <%= f.text_field :synth_api_key, placeholder: "API Key", label: "Synth API Key", class: "form-field__input" %>
          <%= f.submit "Set Synth Key", class: "form-field__submit" %>
        <% end %>
      <% else %>
        <p>No exchange rates provider has been configured. Please raise an issue on
          <a href="https://github.com/maybe-finance/maybe/issues">Github</a></p>
      <% end %>
    <% end %>
  </article>
<% end %>
