<div data-controller="menu" data-menu-placement-value="<%= @placement %>" data-menu-offset-value="<%= @offset %>">
  <% if @variant == :icon %>
    <%= render ButtonComponent.new(variant: "icon", icon: "more-horizontal", data: { menu_target: "button" }) %>
  <% elsif @variant == :button %>
    <%= button %>
  <% elsif @variant == :avatar %>
    <button data-menu-target="button">
      <div class="w-9 h-9 cursor-pointer">
        <%= render "settings/user_avatar", avatar_url: @avatar_url %>
      </div>
    </button>
  <% end %>

  <div data-menu-target="content" class="hidden min-w-[200px] z-50 shadow-border-xs bg-container rounded-lg">
    <%= header %>

    <div class="py-1">
      <% items.each do |item| %>
        <%= item %>
      <% end %>
    </div>
  </div>
</div>