<%# locals: (plaid_item:) %>

<%= tag.div id: dom_id(plaid_item) do %>
  <details open class="group bg-container p-4 shadow-border-xs rounded-xl">
    <summary class="flex items-center justify-between gap-2 focus-visible:outline-hidden">
      <div class="flex items-center gap-2">
        <%= lucide_icon "chevron-right", class: "group-open:transform group-open:rotate-90 text-secondary w-5" %>

        <div class="flex items-center justify-center h-8 w-8 bg-blue-600/10 rounded-full bg-black/5">
          <% if plaid_item.logo.attached? %>
            <%= image_tag plaid_item.logo, class: "rounded-full h-full w-full", loading: "lazy" %>
          <% else %>
            <div class="flex items-center justify-center">
              <%= tag.p plaid_item.name.first.upcase, class: "text-blue-600 text-xs font-medium" %>
            </div>
          <% end %>
        </div>

        <div class="pl-1 text-sm">
          <div class="flex items-center gap-2">
            <%= tag.p plaid_item.name, class: "font-medium text-primary" %>
            <% if plaid_item.scheduled_for_deletion? %>
              <p class="text-red-500 text-sm animate-pulse">(deletion in progress...)</p>
            <% end %>
          </div>
          <% if plaid_item.syncing? %>
            <div class="text-secondary flex items-center gap-1">
              <%= lucide_icon "loader", class: "w-4 h-4 animate-pulse" %>
              <%= tag.span t(".syncing") %>
            </div>
          <% elsif plaid_item.requires_update? %>
            <div class="text-amber-500 flex items-center gap-1">
              <%= lucide_icon "alert-triangle", class: "w-4 h-4" %>
              <%= tag.span t(".requires_update") %>
            </div>
          <% elsif plaid_item.sync_error.present? %>
            <div class="text-secondary flex items-center gap-1">
              <%= lucide_icon "alert-circle", class: "w-4 h-4 text-red-500" %>
              <%= tag.span t(".error"), class: "text-red-500" %>
            </div>
          <% else %>
            <p class="text-secondary">
              <%= plaid_item.last_synced_at ? t(".status", timestamp: time_ago_in_words(plaid_item.last_synced_at)) : t(".status_never") %>
            </p>
          <% end %>
        </div>
      </div>

      <div class="flex items-center gap-2">
        <% if plaid_item.requires_update? %>
          <% begin %>
            <% link_token = plaid_item.get_update_link_token(webhooks_url: plaid_webhooks_url(plaid_item.plaid_region), redirect_url: accounts_url) %>

            <%= render ButtonComponent.new(
              text: t(".update"),
              leading_icon: "refresh-cw",
              variant: "secondary",
              data: {
                controller: "plaid",
                action: "plaid#open",
                plaid_region_value: plaid_item.plaid_region,
                plaid_link_token_value: link_token,
                plaid_is_update_value: true,
                plaid_item_id_value: plaid_item.id
              }
            ) %>
            <% rescue PlaidItem::PlaidConnectionLostError %>
            <div class="flex flex-col gap-2">
              <div class="text-amber-500 flex items-center gap-1">
                <%= lucide_icon "alert-triangle", class: "w-4 h-4" %>
                <%= tag.span t(".connection_lost") %>
              </div>

              <p class="text-sm text-secondary"><%= t(".connection_lost_description") %></p>

              <div class="flex items-center gap-2">
                <%= render ButtonComponent.new(
                  text: t(".delete"),
                  leading_icon: "trash-2",
                  variant: "destructive",
                  method: :delete,
                  data: {
                    turbo_confirm: {
                      title: t(".confirm_title"),
                      body: t(".confirm_body"),
                      accept: t(".confirm_accept")
                    }
                  }
                ) %>

                <%= render ButtonComponent.new(
                  text: t(".add_new"),
                  leading_icon: "plus",
                  variant: "secondary",
                  href: new_account_path
                ) %>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= render ButtonComponent.new(
            variant: "icon",
            icon: "refresh-cw",
            href: sync_plaid_item_path(plaid_item),
            method: :post,
            disabled: plaid_item.syncing? || plaid_item.scheduled_for_deletion?
          ) %>
        <% end %>

        <%= contextual_menu do %>
          <div class="w-48 p-1 text-sm leading-6 text-primary bg-container shadow-lg shrink rounded-xl ring-1 ring-gray-900/5">
            <%= button_to plaid_item_path(plaid_item),
                      method: :delete,
                      class: "block w-full py-2 px-3 space-x-2 text-red-600 hover:bg-red-50 flex items-center rounded-lg",
                      disabled: plaid_item.syncing? || plaid_item.scheduled_for_deletion?,
                      data: {
                        turbo_confirm: {
                          title: t(".confirm_title"),
                          body: t(".confirm_body"),
                          accept: t(".confirm_accept")
                        }
                      } do %>
              <%= lucide_icon "trash-2", class: "w-5 h-5" %>

              <span><%= t(".delete") %></span>
            <% end %>
          </div>
        <% end %>
      </div>
    </summary>

    <% unless plaid_item.scheduled_for_deletion? %>
      <div class="space-y-4 mt-4">
        <% if plaid_item.accounts.any? %>
          <%= render "accounts/index/account_groups", accounts: plaid_item.accounts %>
        <% else %>
          <div class="p-4 flex flex-col gap-3 items-center justify-center">
            <p class="text-primary font-medium text-sm"><%= t(".no_accounts_title") %></p>
            <p class="text-secondary text-sm"><%= t(".no_accounts_description") %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </details>
<% end %>
