<%= form_with model: category, data: { turbo: false } do |form| %>
  <div class="flex flex-col space-y-4 w-96" data-controller="color-select" data-color-select-selection-value="<%= category.color %>">
    <fieldset>
      <%= form.text_field :name,
            value: category.name,
            autofocus: "",
            required: true,
            placeholder: "Enter Category name",
            class: "rounded-lg w-full focus:ring-black focus:border-transparent placeholder:text-gray-500" %>
    </fieldset>

    <fieldset>
      <%= form.hidden_field :color, data: { color_select_target: "input" } %>

      <ul role="radiogroup" class="flex justify-between items-center py-2">
        <% Transaction::Category::COLORS.each do |color| %>
          <li tabindex="0"
              role="radio"
              data-action="click->color-select#select keydown.enter->color-select#select keydown.space->color-select#select"
              data-value="<%= color %>"
              class="flex shrink-0 justify-center items-center w-5 h-5 cursor-pointer hover:bg-gray-200 rounded-full">
          </li>
        <% end %>
      </ul>
    </fieldset>

    <section>
      <% if category.persisted? %>
        <%= form.submit t(".update") %>
      <% else %>
        <%= form.submit t(".create") %>
      <% end %>
    </section>
  </div>
<% end %>
