<%= content_for :title, @issue.title %>

<%= content_for :description do %>
  <%= render "issue/synth_limit_exceeded" %>
<% end %>

<%= content_for :action do %>
  <div class="space-y-4">
    <% if self_hosted? %>
      <%= link_to "View Usage & Upgrade", "https://dashboard.synthfinance.com/settings", class: "btn btn--primary" %>
    <% else %>
      <p>Please contact the Maybe team for assistance.</p>
    <% end %>
  </div>
<% end %>