<div class="w-full max-w-xs">
    <h1 class="font-hairline mb-6 text-center">Resend Unlock Info</h1>

    <%= form_for(resource,
                 as: resource_name,
                 url: unlock_path(resource_name),
                 html: {
                         method: :post,
                         class: "bg-white mb-4 px-8 pt-6 pb-8 rounded shadow-md"
                 }
        ) do |f| %>

        <%= devise_error_messages! %>

        <div class="mb-4">
            <%= f.label :email, class: "block font-bold mb-2 text-gray-700 text-sm" %>
            <%= f.email_field :email,
                              autofocus: true,
                              autocomplete: "email",
                              class: "appearance-none border leading-tight focus:outline-none px-3 py-2 rounded shadow focus:shadow-outline text-gray-700 w-full"
            %>
        </div>

        <div class="mb-4">
            <%= f.submit "Resend unlock instructions",
                         class: "button bg-blue-500 hover:bg-blue-700 font-bold text-white focus:outline-none py-2 px-4 rounded focus:shadow-outline w-full"
            %>
        </div>

        <%= render "devise/shared/links" %>
<% end %>

    <%= render "devise/shared/form_footer" %>
</div>
