<%# locals: (budget:) %>

<div>
  <div class="p-4 border-b border-gray-100">
    <h3 class="text-sm text-gray-500 mb-2">Expected income</h3>

    <span class="inline-block mb-2 text-xl font-medium text-gray-900">
      <%= format_money(budget.expected_income_money) %>
    </span>

    <div>
      <div class="flex h-1.5 mb-3 gap-1">
        <div class="rounded-md h-1.5 bg-green-500" style="width: <%= budget.vs_expected_income_percent %>%"></div>

        <% if budget.vs_expected_income.positive? %>
          <div class="rounded-md h-1.5 bg-red-500" style="width: <%= 100 - budget.vs_expected_income_percent %>%"></div>
        <% else %>
          <div class="rounded-md h-1.5 bg-gray-100" style="width: <%= 100 - budget.vs_expected_income_percent %>%"></div>
        <% end %>
      </div>
      <div class="flex justify-between text-sm">
        <p class="text-gray-500"><%= format_money(budget.actual_income_money) %> earned</p>
        <p class="font-medium">
          <% if budget.vs_expected_income.positive? %>
            <span class="text-green-500"><%= format_money(budget.vs_expected_income) %> over</span>
          <% else %>
            <span class="text-gray-900"><%= format_money(budget.vs_expected_income * -1) %> left</span>
          <% end %>
        </p>
      </div>
    </div>
  </div>

  <div class="p-4">
    <h3 class="text-sm text-gray-500 mb-2">Budgeted</h3>

    <span class="inline-block mb-2 text-xl font-medium text-gray-900">
      <%= format_money(budget.budgeted_spending_money) %>
    </span>

    <div>
      <div class="flex h-1.5 mb-3 gap-1">
        <% if budget.over_budget? %>
          <div class="rounded-md h-1.5 bg-gray-900" style="width: <%= budget.budgeted_spending / budget.actual_spending.to_f * 100 %>%"></div>
          <div class="rounded-md h-1.5 bg-red-500" style="width: <%= budget.vs_actual / budget.actual_spending.to_f * 100 %>%"></div>
        <% else %>
          <div class="rounded-md h-1.5 bg-gray-900" style="width: <%= budget.vs_actual_percent %>%"></div>
          <div class="rounded-md h-1.5 bg-gray-100" style="width: <%= 100 - budget.vs_actual_percent %>%"></div>
        <% end %>
      </div>
      <div class="flex justify-between text-sm">
        <p class="text-gray-500"><%= format_money(budget.actual_spending_money) %> spent</p>
        <p class="font-medium">
          <% if budget.over_budget? %>
            <span class="text-red-500"><%= format_money(budget.vs_actual_money) %> over</span>
          <% else %>
            <span class="text-gray-900"><%= format_money(budget.vs_actual_money * -1) %> left</span>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
