<%# locals: (budget:, previous_budget:, next_budget:, latest_budget:) %>

<div class="flex items-center gap-1 mb-4">
  <div class="flex items-center gap-2">
    <% if budget.previous_budget_param %>
      <%= link_to budget_path(budget.previous_budget_param) do %>
        <%= lucide_icon "chevron-left" %>
      <% end %>
    <% else %>
      <%= lucide_icon "chevron-left", class: "text-subdued" %>
    <% end %>

    <% if budget.next_budget_param %>
      <%= link_to budget_path(budget.next_budget_param) do %>
        <%= lucide_icon "chevron-right" %>
      <% end %>
    <% else %>
      <%= lucide_icon "chevron-right", class: "text-subdued" %>
    <% end %>
  </div>

  <%= render MenuComponent.new(variant: "button") do |menu| %>
    <% menu.with_button class: "flex items-center gap-1 hover:bg-alpha-black-25 cursor-pointer rounded-md p-2"  do %>
      <span class="text-primary font-medium text-3xl md:text-base"><%= @budget.name %></span>
      <%= lucide_icon "chevron-down", class: "w-5 h-5 shrink-0 text-secondary" %>
    <% end %>

    <% menu.with_custom_content do %>
      <%= render "budgets/picker", family: Current.family, year: budget.start_date.year %>
    <% end %>
  <% end %>

  <div class="ml-auto">
    <%= render LinkComponent.new(
        text: "Today",
        variant: "outline",
        href: budget_path(Budget.date_to_param(Date.current)),
    ) %>
  </div>
</div>
