<%# locals: (budget:) %>

<div class="relative w-full h-full">
  <div class="absolute inset-0" data-controller="pie-chart-v2" data-budget-pie-budget-value='<%= budget.to_json %>'></div>

  <!-- Content container -->
  <div data-budget-pie-target="container" class="absolute inset-0 flex flex-col items-center justify-center text-center">
    <div data-budget-pie-target="defaultContent">
      <% if budget.initialized? %>
        <div class="text-gray-600 text-sm">
          <% if budget.over_budget? %>
            <span>Over budget</span>
          <% else %>
            <span>Available</span>
          <% end %>
        </div>

        <div class="text-2xl text-gray-900 font-medium">
          <%= format_money(budget.overage * -1) %>
        </div>

        <%= link_to edit_budget_path(budget), class: "rounded-lg p-2 bg-gray-50 text-sm text-gray-500 mt-1 flex items-center gap-1" do %>
          <span class="text-gray-900 font-medium">
            of <%= format_money(budget.budgeted_amount_money) %>
          </span>
          <%= lucide_icon "pencil", class: "w-4 h-4 text-gray-500 hover:text-gray-600" %>
        <% end %>
      <% else %>
        <div class="text-gray-400 text-3xl mb-2">
          <span><%= format_money Money.new(0, budget.currency || budget.family.currency) %></span>
        </div>
        <%= link_to edit_budget_path(budget), class: "flex items-center gap-2 btn btn--primary" do %>
          <%= lucide_icon "plus", class: "w-4 h-4 text-white" %>
          New budget
        <% end %>
      <% end %>
    </div>
  </div>

  <% budget.budget_categories.each do |category| %>
    <template id="segment-<%= category.id %>-template">
      <div class="text-gray-600 text-sm"><%= category.category.name %></div>
      <div class="text-2xl text-gray-900 font-medium">
        <%= format_money(category.actual_amount) %>
      </div>
    </template>
  <% end %>
</div>
