<div class="pb-12">
  <div class="flex items-center gap-1 mb-4">
    <div class="flex items-center gap-2">
      <% if @previous_budget %>
        <%= link_to budget_path(@previous_budget) do %>
          <%= lucide_icon "chevron-left" %>
        <% end %>
      <% else %>
        <%= lucide_icon "chevron-left", class: "text-gray-400" %>
      <% end %>

      <% if @next_budget %>
        <%= link_to budget_path(@next_budget) do %>
          <%= lucide_icon "chevron-right" %>
        <% end %>
      <% else %>
        <%= lucide_icon "chevron-right", class: "text-gray-400" %>
      <% end %>
    </div>

    <div data-controller="menu" data-menu-placement-value="bottom-start">
      <%= tag.button data: { menu_target: "button" }, class: "flex items-center gap-1 hover:bg-gray-50 rounded-md p-2" do %>
        <span class="text-gray-900 font-medium"><%= @budget.name %></span>
        <%= lucide_icon "chevron-down", class: "w-5 h-5 shrink-0 text-gray-500" %>
      <% end %>

      <div data-menu-target="content" class="hidden z-10">
        <%= render "budgets/picker", family: Current.family, year: Date.current.year %>
      </div>
    </div>

    <div class="ml-auto">
      <% if @budget.current? %>
        <span class="border border-alpha-black-200 text-gray-900 text-sm font-medium px-3 py-2 rounded-lg">Today</span>
      <% else %>
        <%= link_to "Today", budget_path(@latest_budget), class: "btn btn--outline" %>
      <% end %>
    </div>
  </div>

  <div class="flex gap-4">
    <div class="w-[300px] space-y-4">
      <div class="w-[300px] h-[300px] bg-white rounded-xl shadow-xs p-8 border border-gray-100">
        <%= render "budgets/budget_donut", budget: @budget %>
      </div>

      <div>
        <% if @budget.initialized? %>
          <% default_tab = @budget.initialized? ? "budgeted" : "actuals" %>
          <% default_partial = { "actuals" => "budgets/actuals_summary", "budgeted" => "budgets/budgeted_summary" } %>

          <div class="flex gap-2 mb-2 rounded-lg bg-alpha-black-25 p-1">
            <% base_classes = "rounded-md px-2 py-1 flex-1 text-center" %>
            <% tab_classes = ->(tab) do
            selected = params[:tab] == tab || (default_tab == tab && params[:tab].nil?)
            class_names(base_classes,
              "bg-white shadow-xs text-gray-900" => selected,
              "text-gray-500" => !selected)
            end %>

            <%= link_to "Budgeted", budget_path(@budget, tab: "budgeted"), class: tab_classes.call("budgeted") %>
            <%= link_to "Actual", budget_path(@budget, tab: "actuals"), class: tab_classes.call("actuals") %>
          </div>

          <div class="bg-white rounded-xl shadow-xs border border-gray-100">
            <% if params[:tab] == "actuals" %>
              <%= render "budgets/actuals_summary", budget: @budget %>
            <% elsif params[:tab] == "budgeted" %>
              <%= render "budgets/budgeted_summary", budget: @budget %>
            <% else %>
              <%= render default_partial[default_tab], budget: @budget %>
            <% end %>
          </div>
        <% else %>
          <div class="bg-white rounded-xl shadow-xs border border-gray-100">
            <%= render "budgets/actuals_summary", budget: @budget %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="grow bg-white rounded-xl shadow-xs p-4 border border-gray-100">
      <h2 class="text-lg font-medium mb-4">Categories</h2>

      <div class="bg-gray-25 rounded-xl p-1">
        <div class="flex items-center gap-1.5 px-4 py-2 text-xs font-medium text-gray-500 uppercase">
          <p>Categories</p>
          <span class="text-gray-400">&middot;</span>
          <p><%= @budget.budget_categories.count %></p>

          <p class="ml-auto">Amount</p>
        </div>

        <div class="bg-white py-1 shadow-xs border border-gray-100 rounded-md">
          <% if @budget.family.categories.expenses.empty? %>
            <div class="py-8">
              <%= render "budget_categories/no_categories" %>
            </div>
          <% else %>
            <% @budget.budget_categories.each_with_index do |budget_category, index| %>
              <%= render "budget_categories/budget_category", budget_category: budget_category %>

              <% if index < @budget.budget_categories.count - 1 %>
                <div class="px-4">
                  <div class="h-px w-full bg-alpha-black-50"></div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
