<%# locals: (holding:) %>

<%= turbo_frame_tag dom_id(holding) do %>
  <div class="grid grid-cols-12 items-center text-gray-900 text-sm font-medium p-4">
    <div class="col-span-9 flex items-center gap-4">
      <%= render "shared/circle_logo", name: holding.name %>
      <div>
        <%= tag.p holding.name %>
        <%= tag.p holding.ticker, class: "text-gray-500 text-xs uppercase" %>
      </div>
    </div>

    <div class="col-span-3 text-right">
      <% if holding.amount_money %>
        <%= tag.p format_money holding.amount_money %>
      <% else %>
        <%= tag.p "?", class: "text-gray-500" %>
      <% end %>
    </div>
  </div>
<% end %>
