<%# locals: (budget_category:) %>

<%= turbo_frame_tag dom_id(budget_category), class: "w-full" do %>
  <%= link_to budget_budget_category_path(budget_category.budget, budget_category), class: "group w-full p-4 flex items-center gap-3 bg-white", data: { turbo_frame: "drawer" } do %>
    <div class="w-10 h-10 group-hover:scale-105 transition-all duration-300 rounded-full flex justify-center items-center" style="<%= mixed_hex_styles(budget_category.category.color) %>">
      <% if budget_category.budget.initialized? %>
        <%= render "budget_categories/budget_category_donut", budget_category: budget_category %>
      <% elsif budget_category.category.lucide_icon %>
        <%= lucide_icon budget_category.category.lucide_icon, class: "w-5 h-5" %>
      <% else %>
        <%= render "shared/circle_logo", name: budget_category.category.name, hex: budget_category.category.color %>
      <% end %>
    </div>

    <div>
      <p class="text-sm font-medium text-gray-900"><%= budget_category.category.name %></p>

      <% if budget_category.initialized? %>
        <% if budget_category.available_to_spend.negative? %>
          <p class="text-sm font-medium text-red-500"><%= format_money(budget_category.available_to_spend_money.abs) %> over</p>
        <% elsif budget_category.available_to_spend.zero? %>
          <p class="text-sm font-medium <%= budget_category.budgeted_spending.positive? ? "text-orange-500" : "text-gray-500" %>">
            <%= format_money(budget_category.available_to_spend_money) %> left
          </p>
        <% else %>
          <p class="text-sm text-gray-500 font-medium"><%= format_money(budget_category.available_to_spend_money) %> left</p>
        <% end %>
      <% else %>
        <p class="text-sm text-gray-500 font-medium">
          <%= format_money(budget_category.category.avg_monthly_total) %> avg
        </p>
      <% end %>
    </div>

    <div class="ml-auto text-right">
      <p class="text-sm font-medium text-gray-900"><%= format_money(budget_category.actual_spending_money) %></p>

      <% if budget_category.initialized? %>
        <p class="text-sm text-gray-500">from <%= format_money(budget_category.budgeted_spending_money) %></p>
      <% end %>
    </div>
  <% end %>
<% end %>
