<%# locals: (budget_category:) %>

<%= turbo_frame_tag dom_id(budget_category), class: "w-full" do %>
  <% if budget_category.persisted? %>
    <%= link_to budget_budget_category_path(budget_category.budget, budget_category), class: "group w-full p-4 flex gap-3 bg-white", data: { turbo_frame: "drawer" } do %>
      <% if budget_category.budget.initialized? %>
        <%= render "budget_categories/initialized_category", budget_category: budget_category %>
      <% else %>
        <%= render "budget_categories/unallocated_category", budget_category: budget_category %>
      <% end %>
    <% end %>
  <% else %>
    <div class="w-full p-4 flex gap-3 bg-white">
      <% if budget_category.budget.initialized? %>
        <%= render "budget_categories/initialized_category", budget_category: budget_category %>
      <% else %>
        <%= render "budget_categories/unallocated_category", budget_category: budget_category %>
      <% end %>
    </div>
  <% end %>
<% end %>
