<%# locals: (budget_category:) %>

<div class="w-10 h-10 group-hover:scale-105 transition-all duration-300">
  <%= render "budget_categories/budget_category_donut", budget_category: budget_category %>
</div>

<div>
  <p class="text-sm font-medium text-gray-900"><%= budget_category.category.name %></p>

  <% if budget_category.over_budget? %>
    <p class="text-sm font-medium text-red-500"><%= format_money(budget_category.vs_actual) %> over</p>
  <% elsif budget_category.vs_actual == 0 && budget_category.budgeted_spending > 0 %>
    <p class="text-sm font-medium text-orange-500"><%= format_money(budget_category.vs_actual) %> left</p>
  <% else %>
    <p class="text-sm text-gray-500"><%= format_money(budget_category.vs_actual.abs) %> left</p>
  <% end %>
</div>

<div class="ml-auto text-right">
  <p class="text-sm font-medium text-gray-900"><%= format_money(budget_category.actual_spending) %></p>
  <p class="text-sm text-gray-500">from <%= format_money(budget_category.budgeted_spending) %></p>
</div>
