<%# locals: (budget_category:) %>

<div class="flex items-center gap-4 w-full">
  <div class="w-8 h-8 group-hover:scale-105 transition-all duration-300 rounded-full flex justify-center items-center" style="<%= mixed_hex_styles(budget_category.category.color) %>">
    <% if budget_category.category.lucide_icon %>
      <%= lucide_icon budget_category.category.lucide_icon, class: "w-5 h-5" %>
    <% else %>
      <%= render "shared/circle_logo", name: budget_category.category.name, hex: budget_category.category.color %>
    <% end %>
  </div>

  <p class="text-sm font-medium text-gray-900"><%= budget_category.category.name %></p>

  <div class="ml-auto">
    <span class="text-sm font-medium text-gray-500"><%= format_money budget_category.actual_spending_money %></span>
  </div>
</div>
