<div>
  <div class="grid grid-cols-3 gap-2">
    <p>CSV Tag</p>
    <p>Maybe Tag</p>
    <p>Transactions</p>
  </div>

  <% @import.csv_tags.each do |csv_tag| %>
    <% tag_mapping = @import.mappings
                           .of_type(Import::TagMapping)
                           .find_or_initialize_by(key: csv_tag) %>

    <%= styled_form_with model: tag_mapping, 
                         scope: :import_mapping,
                         url: tag_mapping.new_record? ? import_mappings_path(@import) : import_mapping_path(@import, tag_mapping),
                         class: "grid grid-cols-3 gap-2", 
                         data: { controller: "auto-submit-form" } do |form| %>
      <span><%= csv_tag %></span>

      <%= form.hidden_field :mappable_type, value: Tag %>
      <%= form.select :mappable_id, 
                      [["Add as new tag", "internal_new"]] + 
                      Current.family.tags.map { |tag| [tag.name, tag.id] }, 
                      { include_blank: "Leave untagged", selected: tag_mapping.create_when_empty? ? "internal_new" : tag_mapping.mappable_id }, 
                      "data-auto-submit-form-target": "auto" %>

      <%= form.hidden_field :key, value: csv_tag %>
      <%= form.hidden_field :type, value: Import::TagMapping %>

      <span><%= @import.csv_tags.select { |csv_tag| csv_tag == tag_mapping.key }.count %></span>

    <% end %>
  <% end %>
</div>
