<%
  header_title t(".title")
%>

<% if self_hosted_first_login? %>
  <div class="fixed inset-0 w-full h-fit bg-gray-25 p-5 border-b border-alpha-black-200 flex flex-col gap-3 items-center text-center mb-12">
    <h2 class="font-bold text-xl"><%= t(".welcome_title") %></h2>
    <p class="text-gray-500 text-sm"><%= t(".welcome_body") %></p>
  </div>
<% end %>

<%= styled_form_with model: @user, url: registration_path, class: "space-y-4" do |form| %>
  <%= form.email_field :email, autofocus: false, autocomplete: "email", required: "required", placeholder: "you@example.com", label: true %>
  <%= form.password_field :password, autocomplete: "new-password", required: "required", label: true %>
  <%= form.password_field :password_confirmation, autocomplete: "new-password", required: "required", label: true %>
  <% if invite_code_required? %>
    <%= form.text_field :invite_code, required: "required", label: true, value: params[:invite] %>
  <% end %>
  <%= form.submit %>
<% end %>
