<%# locals: (account:, url:) %>

<%= render "accounts/form", account: account, url: url do |form| %>
  <%= form.select :subtype,
                 Property::SUBTYPES.map { |k, v| [v[:long], k] },
                 { label: true, prompt: t("properties.form.subtype_prompt"), include_blank: t("properties.form.none") } %>

  <%= render "shared/ruler", classes: "my-4" %>

  <div class="space-y-2">
    <%= form.fields_for :accountable do |property_form| %>
      <div class="flex items-center gap-2">
        <%= property_form.number_field :year_built,
                                       label: t("properties.form.year_built"),
                                       placeholder: t("properties.form.year_built_placeholder"),
                                       min: 1800,
                                       max: Time.current.year %>
      </div>

      <div class="flex items-center gap-2">
        <%= property_form.number_field :area_value,
                                       label: t("properties.form.area"),
                                       placeholder: t("properties.form.area_placeholder"),
                                       min: 0 %>
        <%= property_form.select :area_unit,
                                 [["Square Feet", "sqft"], ["Square Meters", "sqm"]],
                                 { label: t("properties.form.area_unit") } %>
      </div>

      <%= property_form.fields_for :address do |address_form| %>
        <%= address_form.text_field :line1,
                                    label: t("properties.form.address_line1"),
                                    placeholder: t("properties.form.address_line1_placeholder") %>
        <div class="flex items-center gap-2">
          <%= address_form.text_field :locality,
                                    label: t("properties.form.locality"),
                                    placeholder: t("properties.form.locality_placeholder") %>
          <%= address_form.text_field :region,
                                    label: t("properties.form.region"),
                                    placeholder: t("properties.form.region_placeholder") %>
        </div>

        <div class="flex items-center gap-2">
          <%= address_form.text_field :postal_code,
                                      label: t("properties.form.postal_code"),
                                      placeholder: t("properties.form.postal_code_placeholder") %>
          <%= address_form.text_field :country,
                                      label: t("properties.form.country"),
                                      placeholder: t("properties.form.country_placeholder") %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
