<%# locals: (type: "error", content: "") -%>
<%= content_tag :div,
  class: "flex justify-between rounded-xl p-3 #{type == "error" ? "bg-red-50" : "bg-yellow-50"}",
  data: {controller: "element-removal" },
  role: type == "error" ? "alert" : "status" do %>
  <div class="flex gap-3 items-center <%= type == "error" ? "text-red-500" : "text-yellow-500" %>">
    <%= lucide_icon("info", class: "w-5 h-5 shrink-0") %>
    <p class="text-sm"><%= content %></p>
  </div>
  <%= content_tag :a, lucide_icon("x", class: "w-5 h-5 shrink-0 #{type == "error" ? "text-red-500" : "text-yellow-500"}"), data: { action: "click->element-removal#remove" }, class:"flex gap-1 font-medium items-center text-gray-900 px-3 py-1.5 rounded-lg cursor-pointer" %>
<% end %>
