<%# locals: (name: nil, color: "#000") %>

<% letter = name&.first || "?" %>

<% background_color = "color-mix(in srgb, #{color} 5%, white)" %>
<% border_color = "color-mix(in srgb, #{color} 10%, white)" %>
<span data-color-avatar-target="avatar"
      class="w-14 h-14 flex items-center justify-center rounded-full"
      style="background-color: <%= background_color %>; border-color: <%= border_color %>; color: <%= color %>">
  <%= letter.upcase %>
</span>
<span class="absolute border-3 p-1 border-white rounded-full top-22.5 left-56 text-gray-500 bg-gray-100">
  <%= lucide_icon "pen", class: "w-4.5 h-4.5" %>
</span>
