<%# locals: (form:, amount_method:, currency_method:, **options) %>

<% currency = Money::Currency.new(form.object&.currency || options[:default_currency] || "USD") %>

<div class="form-field pr-0 <%= options[:container_class] %>" data-controller="money-field">
  <%= form.label options[:label] || t(".amount"), class: "form-field__label" %>

  <div class="flex items-center gap-1">
    <div class="flex items-center grow gap-1">
      <span class="text-gray-500 text-sm" data-money-field-target="symbol">
        <%= currency.symbol %>
      </span>

      <%= form.number_field :amount,
        class: "form-field__input",
        inline: true,
        placeholder: "100",
        value: if options[:value]
          sprintf("%.#{currency.default_precision}f", options[:value])
        else
          form.object.send(amount_method)
        end,
        min: options[:min] || -99999999999999,
        max: options[:max] || 99999999999999,
        step: currency.step,
        data: {
          "money-field-target": "amount",
          action: "change->money-field#handleAmountChange",
          "auto-submit-form-target": ("auto" if options[:auto_submit])
        }.compact
      %>
    </div>

    <% unless options[:hide_currency] %>
      <div>
        <%= form.select :currency, 
                      currencies_for_select.map(&:iso_code),
                      { inline: true },
                      {
                        class: "w-fit pr-5 disabled:text-gray-400 form-field__input",
                        disabled: options[:disable_currency],
                        data: {
                          "money-field-target": "currency",
                          action: "change->money-field#handleCurrencyChange",
                          "auto-submit-form-target": ("auto" if options[:auto_submit])
                        }.compact
                      } %>
      </div>
    <% end %>
  </div>
</div>
