<div class="flex justify-center items-center h-[800px]">
  <div class="text-center flex flex-col gap-4 items-center max-w-[300px]">
    <%= lucide_icon "layers", class: "w-6 h-6 text-gray-500" %>

    <div class="space-y-1 text-sm">
      <p class="text-gray-900 font-medium"><%= t(".no_account_title") %></p>
      <p class="text-gray-500"><%= t(".no_account_subtitle") %></p>
    </div>

    <%= link_to new_account_path(step: "method"), class: "btn btn--primary flex items-center gap-1", data: { turbo_frame: "modal" } do %>
      <%= lucide_icon("plus", class: "w-5 h-5") %>
      <span><%= t(".new_account") %></span>
    <% end %>
  </div>
</div>
