<%# locals: (type: "success", content: { title: '', body: ''}, action: { label:'' , url:'' }, options: { auto_dismiss: true }) -%>

<% duration = 5 #seconds %>

<turbo-stream action="append" target="notification-tray">
  <template>
    <% actions = options[:auto_dismiss] ? "animationend->element-removal#remove" : "" %>
    <% animation = "animate-[appear#{options[:auto_dismiss] ? '-then-fade' : ''}_#{duration}s_300ms_both]" %>
    <%= content_tag :div,
      class: "max-w-80 bg-white shadow-xs border border-alpha-black-50 border-solid py-3 px-4 rounded-[10px] text-sm font-medium flex gap-3 #{animation}",
      data: {controller: "element-removal", action: actions },
      role: type == "error" ? "alert" : "status" do -%>
      <% base_class = "w-5 h-5 p-1 text-white flex shrink-0 items-center justify-center rounded-full" %>
      <%= type.in?(["error", "alert"]) ? lucide_icon("x", class: "#{base_class} bg-error") : lucide_icon("check", class: "#{base_class} bg-success") %>
      <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
        <% if content[:title].present? %>
          <h1 class="text-base font-semibold leading-6 text-gray-900" id="modal-title"><%= content[:title] %></h1>
        <% end %>
        <div class="mt-2">
          <p class="text-sm text-gray-500"><%= content[:body] %></p>
        </div>

        <div class="mt-2">
          <% if !options[:auto_dismiss] %>
            <a aria-label="Close notification" data-action="click->element-removal#remove" class="hover:bg-gray-300 text-gray-800 py-2 px-4 rounded">Dissmiss</a>
          <% end %>
          <% if action[:label].present? && action[:url].present? %>
            <%= link_to action[:label], action[:url], class: "bg-gray-300 hover:bg-gray-400 text-gray-800 py-2 px-4 rounded" %>
          <% end %>
        </div>
      </div>

      <% if options[:auto_dismiss] %>
        <div class="shrink-0 h-5">
          <% spinner_animation = "animate-[stroke-fill_#{duration}s_300ms_forwards]" %>
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="shrink-0">
            <path d="M18 10C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10ZM3.6 10C3.6 13.5346 6.46538 16.4 10 16.4C13.5346 16.4 16.4 13.5346 16.4 10C16.4 6.46538 13.5346 3.6 10 3.6C6.46538 3.6 3.6 6.46538 3.6 10Z" fill="#E5E5E5" />
            <circle class="origin-center -rotate-90 <%= spinner_animation %>" stroke="#141414" stroke-opacity="0.4" r="7.2" cx="10" cy="10" stroke-dasharray="43.9822971503" stroke-dashoffset="43.9822971503" />
          </svg>
        </div>
      <% end %>
    <% end -%>
  </div>
</template>
</turbo-stream>
