<div class="sticky top-0 left-0 w-full bg-black flex items-center justify-between font-mono">
  <div class="flex items-center bg-red-600 px-6 py-4">
    <%= lucide_icon "alert-triangle", class: "w-6 h-6 text-white mr-2" %>
    <span class="text-white font-semibold uppercase">Super Admin</span>
  </div>
  <div class="flex items-center space-x-2 px-2 py-2 text-white">
  <% if impersonating? %>
    <div class="flex items-center space-x-3 bg-gray-800 border border-gray-700 rounded-md pl-3">
      <div class="text-sm">
        Impersonating: <span class="font-semibold text-red-400"><%= Current.impersonated_user.email %></span>
      </div>
      <%= button_to "End session", end_impersonation_sessions_path, method: :delete, class: "items-center px-3 py-1.5 border border-transparent text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500" %>
      <%= button_to "Remove access", remove_impersonation_sessions_path, method: :delete, class: "items-center px-3 py-1.5 border border-transparent text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500" %>
    </div>
  <% else %>
    <% pending_or_in_progress_sessions = ImpersonationSession.includes(:impersonated).where(status: [:in_progress]) %>
    <% if pending_or_in_progress_sessions.any? %>
      <%= form_with url: start_impersonation_sessions_path, method: :post, class: "flex items-center space-x-2 mr-4" do |f| %>
        <%= f.select :impersonation_session_id,
          pending_or_in_progress_sessions.map { |session| ["#{session.impersonated.email} (#{session.status})", session.id] },
          { prompt: "Switch to existing session" },
          { class: "rounded-md text-sm border-0 focus:ring-0 ring-0 text-black font-mono" }
        %>
        <%= f.submit "Switch", class: "inline-flex items-center px-3 py-1.5 border border-transparent text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500" %>
      <% end %>
    <% end %>

    <%= form_with url: impersonation_sessions_path, method: :post, class: "flex items-center space-x-2" do |f| %>
      <%= f.text_field :impersonated_id, class: "rounded-md text-sm border-0 focus:ring-0 ring-0 text-black font-mono w-96", placeholder: "UUID", autocomplete: "off" %>
      <%= f.submit "Request Impersonation", class: "inline-flex items-center px-3 py-1.5 border border-transparent text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500" %>
    <% end %>
  <% end %>
  </div>
</div>
