<%# locals: (trend:) %>
<% styles = trend_styles(trend) %>
<p class="text-sm <%= styles[:text_class] %>">
  <% if trend.direction == "flat" %>
    <span>No change</span>
  <% else %>
    <span><%= styles[:symbol] %><%= format_currency(trend.value.abs) %></span>
    <span>(<%= lucide_icon(styles[:icon], class: "w-4 h-4 align-text-bottom inline") %><%= trend.percent %>%)</span>
  <% end %>
</p>