<%# locals: (form:, user:) %>

<div class="flex items-center gap-4" data-controller="profile-image-preview">
  <div class="relative flex justify-center items-center bg-gray-50 w-24 h-24 rounded-full border border-alpha-black-25">
    <div data-profile-image-preview-target="imagePreview" 
         class="h-full w-full flex justify-center items-center <%= user.profile_image.attached? ? "hidden" : "" %>">
      <div class="h-24 w-24 flex justify-center items-center">
        <%= lucide_icon "image-plus", class: "w-6 h-6 text-gray-500" %>
      </div>
    </div>

    <div data-profile-image-preview-target="attachedImage" 
         class="h-full w-full flex justify-center items-center <%= user.profile_image.attached? ? "" : "hidden" %>">
      <% if user.profile_image.attached? %>
        <div class="h-24 w-24">
          <%= render "settings/user_avatar", user: user %>
        </div>
      <% end %>
    </div>

    <div data-profile-image-preview-target="clearBtn" 
         data-action="click->profile-image-preview#clear" 
      class="<%= user.profile_image.attached? ? "" : "hidden" %> cursor-pointer absolute bottom-0 right-0 w-8 h-8 bg-gray-50 rounded-full flex justify-center items-center border border-white border-2">
      <%= lucide_icon "x", class: "w-4 h-4 text-gray-500" %>
    </div>
  </div>

  <div class="space-y-3">
    <p><%= t(".accepted_formats") %></p>
    <%= form.label :profile_image, t(".choose"), 
        class: "inline-block cursor-pointer px-3 py-2 bg-gray-50 text-gray-900 rounded-md text-sm font-medium" %>
    <%= form.file_field :profile_image, 
        accept: "image/png, image/jpeg", 
        class: "hidden px-3 py-2 bg-gray-50 text-gray-900 rounded-md text-sm font-medium", 
        data: {
          profile_image_preview_target: "fileField", 
          action: "change->profile-image-preview#preview"
        } %>
  </div>
</div>
