<h1 class="text-3xl font-semibold font-display">Update settings</h1>

<%= form_with model: Current.user, url: settings_path, html: { class: "space-y-4" } do |form| %>
  <%= form.fields_for :family_attributes do |family_fields| %>
    <%= family_fields.text_field :name, placeholder: "Family name", value: Current.family.name, label: "Family name" %>

    <%= family_fields.select :currency, options_for_select(Currency.all.order(iso_code: :asc).map { |currency| ["#{currency.iso_code} (#{currency.name})", currency.iso_code] }, selected: Current.family.currency), { label: "Currency" } %>
  <% end %>

  <%= form.text_field :first_name, placeholder: "First name", value: Current.user.first_name, label: true %>

  <%= form.text_field :last_name, placeholder: "Last name", value: Current.user.last_name, label: true %>
  
  <%= form.email_field :email, placeholder: "Email", value: Current.user.email, label: true %>

  <%= form.password_field :password, label: true %>

  <%= form.password_field :password_confirmation, label: true %>

  <div class="fixed right-5 bottom-5">
    <button type="submit" class="flex items-center justify-center w-12 h-12 mb-2 bg-black rounded-full shrink-0 grow-0 hover:bg-gray-600">
      <%= inline_svg_tag('icn-check.svg', class: 'text-white fill-current') %>
    </button>
  </div>
<% end %>
