<div id="<%= dom_id import %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Account:</strong>
    <%= import.account_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Column mappings:</strong>
    <%= import.column_mappings %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this import", import, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this import", edit_import_path(import), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
