<div>
  <% if import.new_record? %>
    <ul class="flex items-center gap-2 py-12">
      <%= render partial: "nav_item", locals: { name: "Select", path: new_import_path, index: 0, is_complete: true, is_current: false } %>
      <div class="h-px bg-alpha-black-200 w-12"></div>
      <%= render partial: "nav_item", locals: { name: "Import", path: new_import_path, index: 1, is_complete: true, is_current: false } %>
      <div class="h-px bg-alpha-black-200 w-12"></div>
      <%= render partial: "nav_item", locals: { name: "Setup", path: new_import_path, index: 2, is_complete: false, is_current: true } %>
      <div class="h-px bg-alpha-black-200 w-12"></div>
      <%= render partial: "nav_item", locals: { name: "Clean", path: new_import_path, index: 3, is_complete: false, is_current: false } %>
      <div class="h-px bg-alpha-black-200 w-12"></div>
      <%= render partial: "nav_item", locals: { name: "Confirm", path: new_import_path, index: 4, is_complete: false, is_current: false } %>
    </ul>
  <% else %>
    <div>
      <p>Placeholder</p>
    </div>
  <% end %>
</div>
