<%= content_for :return_to_path, return_to_path(params, imports_path) %>

<%= content_for :nav do %>
  <%= render "imports/nav", import: @import %>
<% end %>

<div>
  <h1 class="sr-only">Configure import</h1>

  <%= form_with model: @import, url: configure_import_path(@import) do |form| %>
    <div class="mb-4">
      <%= form.fields_for :column_mappings, OpenStruct.new(@import.column_mappings || @import.default_column_mappings) do |mappings| %>
        <%= mappings.text_field :date, label: "Date" %>
        <%= mappings.text_field :merchant, label: "Merchant" %>
        <%= mappings.text_field :category, label: "Category" %>
        <%= mappings.text_field :amount, label: "Amount" %>
      <% end %>
    </div>

    <%= form.submit t(".next"), class: "px-4 py-2 block w-full rounded-lg bg-gray-900 text-white text-sm font-medium" %>

  <% end %>
</div>
