<%= content_for :return_to_path, return_to_path(params, imports_path) %>

<div class="mx-auto max-w-screen-md w-full py-24">
  <h1 class="sr-only"><%= t(".confirm_title") %></h1>

  <div class="text-center space-y-2 max-w-[400px] mx-auto mb-8">
    <h2 class="text-3xl text-gray-900 font-medium"><%= t(".confirm_subtitle") %></h2>
    <p class="text-gray-500 text-sm"><%= t(".confirm_description") %></p>
  </div>

  <div class="mb-8 space-y-4">
    <% transaction_entries = @import.dry_run %>
    <% transaction_entries.group_by(&:date).each do |date, transactions| %>
      <%= render "account/entries/entry_group",
                 date: date,
                 entries: transaction_entries,
                 show_tags: true,
                 selectable: false,
                 editable: false %>
    <% end %>
  </div>

  <%= button_to "Import " + @import.csv.table.size.to_s + " transactions", confirm_import_path(@import), method: :patch, class: "px-4 py-2 block w-60 text-center mx-auto rounded-lg bg-gray-900 text-white text-sm font-medium", data: { turbo: false } %>
</div>
