<%= content_for :return_to_path, return_to_path(params, imports_path) %>

<%= content_for :nav do %>
  <%= render "imports/nav", import: @import %>
<% end %>

<div>
  <h1 class="sr-only">Confirm import</h1>

  <%= render partial: "imports/rows/transaction/preview_group", collection: @import.rows.group_by(&:date), as: :group %>

  <%= button_to "Import " + @import.rows.size.to_s + " transactions", confirm_import_path(@import), method: :patch, data: { turbo: false } %>
</div>
