<%= content_for :return_to_path, return_to_path(params, imports_path) %>

<%= content_for :nav do %>
  <%= render "nav", import: @import %>
<% end %>

<% if params[:enable_type_selector].present? %>
  <%= modal do %>
    <%= render "type_selector" %>
  <% end %>
<% end %>

<div class="mx-auto md:w-2/3 w-full">
  <h1 class="sr-only">New import</h1>

  <%= render "form", import: @import %>

</div>
