<div class="mb-4 flex items-start gap-3" id="message_<%= message.id %>">
  <div class="flex-shrink-0">
    <% if message.role == 'user' %>
      <div class="w-8 h-8">
        <%= render "settings/user_avatar", user: message.user %>
      </div>
    <% else %>
      <div class="w-8 h-8">
        <%= render "shared/circle_logo", name: "AI", hex: "#22CCEE", size: "full" %>
      </div>
    <% end %>
  </div>
  <div class="flex-1">
    <div class="inline-block max-w-full">
      <div class="text-sm prose text-gray-900" id="message_content_<%= message.id %>">
        <% if message.content == '...' %>
          <div class="flex flex-col gap-2" id="message_content_loader_<%= message.id %>">
            <div class="loading-ellipsis">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
            <div class="text-xs text-gray-400">
              <% if message.status == 'pending' %>
                Determing the best route to answer your question.
              <% elsif message.status == 'data' %>
                Grabbing the necessary information to answer your question.
              <% elsif message.status == 'processing' %>
                Writing the answer to your question.
              <% else %>
                Depending on the question, it may take a few minutes to respond.
              <% end %>
            </div>
          </div>
        <% else %>
          <%= markdown message.content %>
        <% end %>
      </div>
    </div>
  </div>
</div>
