<%= turbo_frame_tag "sidebar-chat-content" do %>
  <%= turbo_stream_from @chat %>

  <div class="flex flex-col h-full">
    <%= render "chats/chat_nav", chat: @chat %>

    <div id="messages" class="grow flex flex-col gap-8 py-8" data-chat-scroll-target="messages">
      <% if @messages.any? %>
        <% @messages.each do |message| %>
          <%= render "messages/message", message: message %>
        <% end %>
      <% else %>
        <div class="mt-auto">
          <%= render "chats/ai_greeting", context: 'chat' %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>