<%= turbo_frame_tag chat_frame do %>
  <%= turbo_stream_from @chat %>

  <div class="flex flex-col h-full">
    <div class="p-4">
      <%= render "chats/chat_nav", chat: @chat %>
    </div>

    <div id="messages" class="grow py-8 overflow-y-auto" data-chat-target="messages">
      <div class="p-4 space-y-6">
        <% if @chat.messages.conversation.any? %>
          <% @chat.messages.conversation.ordered.each do |message| %>
            <%= render "messages/message", message: message %>
          <% end %>
        <% else %>
          <div class="mt-auto">
            <%= render "chats/ai_greeting", context: 'chat' %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="p-4">
      <%= render "messages/chat_form", chat: @chat %>
    </div>
  </div>
<% end %>