<%= turbo_frame_tag "chat_content" do %>
  <div class="flex flex-col gap-4 justify-between h-full" data-controller="chat">
    <div class="grow overflow-y-auto" data-chat-target="messages">
      <h2 class="text-2xl font-bold mb-6"><%= @chat.title %></h2>

      <%= turbo_stream_from @chat %>

      <div id="<%= dom_id(@chat) %>_messages" class="space-y-6 py-8">
        <%= render @chat.messages.conversation.ordered %>
      </div>
    </div>

    <div data-chat-target="form">
      <%= render "messages/form", chat: @chat %>
    </div>
  </div>
<% end %>