<%= content_for :header_nav do %>
  <%= render "imports/nav", import: @import %>
<% end %>

<div class="space-y-4 mx-auto max-w-screen-lg">
  <div class="text-center space-y-2 max-w-[400px] mx-auto mb-4">
    <h2 class="text-3xl text-gray-900 font-medium"><%= t(".title") %></h2>
    <p class="text-gray-500 text-sm"><%= t(".description") %></p>
  </div>

  <%= render "import/cleans/#{@import.type.underscore}", import: @import %>
</div>
