<%# locals: (account:, selected_tab:) %>

<% if account.mode.nil? %>
  <%= render "accounts/accountables/value_onboarding", account: account %>
<% else %>
  <div class="flex gap-2 text-sm text-gray-900 font-medium mb-4">
    <%= render "accounts/accountables/tab", account: account, key: "overview", is_selected: selected_tab.in?([nil, "overview"]) %>

    <% if account.mode == "transactions" %>
      <%= render "accounts/accountables/tab", account: account, key: "transactions", is_selected: selected_tab == "transactions" %>
    <% else %>
      <%= render "accounts/accountables/tab", account: account, key: "value", is_selected: selected_tab == "value" %>
    <% end %>
  </div>

  <div class="min-h-[800px]">
    <% case selected_tab %>
    <% when nil, "overview" %>
      <%= render "accounts/accountables/credit_card/overview", account: account %>
    <% when "transactions" %>
      <%= render "accounts/accountables/transactions", account: account %>
    <% when "value" %>
      <%= render "accounts/accountables/valuations", account: account %>
    <% end %>
  </div>
<% end %>
