<section class="border-b border-gray-200 bg-white p-4 my-2 rounded">
  <h2 class="text-sm text-center text-gray-500"><%= t('.title') %></h2>

  <% if @asset_groups.any? %>
    <div class="my-4">
      <h3 class="text-2xl font-bold text-center text-gray-800"><%= @asset_groups.sum(&:total_asset_value).format(no_cents: true) %></h3>
    </div>

    <div class="flex -mx-0.5 my-6">
      <% @asset_groups.each do |asset| %>
        <div class="block mx-0.5 h-2.5 rounded bg-<%= asset.param %>" style="flex-basis: <%= asset.percentage_held %>%"></div>
      <% end %>
    </div>

    <div class="flex justify-center mt-8">
      <% @asset_groups.each do |asset| %>
        <div class="flex items-center mx-4">
          <span class="inline-block rounded-full w-3 h-3 bg-<%= asset.param %>"></span>
          <span class="inlinb-block text-sm ml-1 mr-2 text-gray-400"><%= asset.type.model_name.human %></span>
          <strong class="text-center text-xs"><%= number_to_percentage(asset.percentage_held, precision: 2) %></strong>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="my-8">
      <p class="text-center text-gray-400"><%= t('.no_assets') %></p>
    </div>
  <% end %>
</section>
