<% content_for :sidebar do %>
  <%= render "settings/nav" %>
<% end %>

<div class="space-y-4 flex flex-col h-full">
  <h1 class="text-gray-900 text-xl font-medium mb-4"><%= t(".title") %></h1>
  <div class="bg-white shadow-xs border border-alpha-black-25 rounded-xl p-4 flex-grow overflow-y-auto">
    <div class="flex justify-between gap-4 mb-12 last:mb-0">
      <div class="w-1/3">
        <div class="px-3 flex items-center gap-3">
          <div class="text-white shrink-0 w-9 h-9">
            <%= image_tag @release_notes[:avatar], class: "rounded-full w-full h-full object-cover" %>
          </div>
          <div>
            <a class="text-gray-900 font-medium text-sm" href="https://github.com/<%= @release_notes[:username] %>"><%= "@#{@release_notes[:username]}" %></a>
            <div class="text-gray-500 text-sm"><%= @release_notes[:published_at].strftime("%B %d, %Y") %></div>
          </div>
        </div>
      </div>
      <div class="w-2/3 text-gray-500 text-sm prose prose--github-release-notes">
        <h2 class="mb-5 text-xl text-gray-900"><%= @release_notes[:name] %></h2>
        <%= @release_notes[:body].html_safe %>
      </div>
    </div>
  </div>

  <div class="mt-auto">
    <%= settings_nav_footer %>
  </div>
</div>
