<div class="w-full space-y-6">
  <header class="space-y-6">
    <nav class="flex items-center gap-2">
      <button data-action="sidebar#toggle" class="w-9 h-9 inline-flex rounded-lg items-center justify-center hover:bg-gray-100 cursor-pointer">
        <%= icon("panel-left", color: "gray") %>
      </button>

      <span class="text-sm text-gray-500 font-medium">Home</span>

      <%= icon("chevron-right", color: "gray", size: "sm") %>

      <span class="text-gray-900 font-medium text-sm">Dashboard</span>
    </nav>

    <div class="space-y-1">
      <h1 class="text-3xl font-medium text-gray-900">Welcome back, <%= Current.user.first_name %></h1>
      <p class="text-gray-500">Here's what's happening with your money this week</p>
    </div>
  </header>

  <section>
    <div class="bg-white py-4 rounded-xl shadow-border-xs">
      <div class="flex justify-between p-4">
        <div class="space-y-2">
          <div class="space-y-2">
            <p class="text-sm text-secondary font-medium">Net Worth</p>
            <p class="text-primary -space-x-0.5 text-xl font-medium">
              <%= format_money Current.family.net_worth %>
            </p>
            <% if @net_worth_series.trend.nil? %>
              <p class="text-sm text-secondary">Data not available for the selected period</p>
            <% elsif @net_worth_series.trend.direction.flat? %>
              <p class="text-sm text-secondary">No change vs. prior period</p>
            <% else %>
              <div class="flex items-center gap-2">
                <%= render partial: "shared/trend_change", locals: { trend: @net_worth_series.trend } %>
                <span class="text-sm text-secondary"><%= @period.comparison_label %></span>
              </div>
            <% end %>
          </div>
        </div>
        <%= form_with url: root_path, method: :get, class: "flex items-center gap-4", data: { controller: "auto-submit-form" } do |form| %>
          <%= period_select form: form, selected: @period %>
        <% end %>
      </div>
      <%= render partial: "pages/dashboard/net_worth_chart", locals: { series: @net_worth_series } %>
    </div>
  </section>

  <% accountable_totals = Current.family.account_stats.totals_by_type %>

  <% ["asset", "liability"].each do |classification| %>
    <% display = classification == "asset" ? "Assets" : "Debts" %>

    <section class="bg-white shadow-border-xs rounded-xl space-y-4 p-4">
      <h2 class="text-lg font-medium"><%= display %></h2>

      <% classification_totals = accountable_totals.select { |t| t.classification == classification } %>

      <% if classification_totals.any? { |t| t.total_money.amount.positive? } %>
        <div class="space-y-4">
          <div class="flex gap-1">
            <% classification_totals.each do |accountable_total| %>
              <div class="h-1.5 rounded-sm" style="width: <%= accountable_total.weight %>%; background-color: <%= accountable_total.color %>;"></div>
            <% end %>
          </div>
          <div class="flex gap-4">
            <% classification_totals.each do |accountable_total| %>
              <div class="flex items-center gap-2 text-sm">
                <div class="h-2.5 w-2.5 rounded-full" style="background-color: <%= accountable_total.color %>;"></div>
                <p class="text-secondary"><%= accountable_total.accountable.display_name %></p>
                <p class="text-black"><%= accountable_total.weight.ceil.round(0) %>%</p>
              </div>
            <% end %>
          </div>
        </div>

        <div class="bg-surface rounded-xl p-1 space-y-1">
          <div class="px-4 py-2 flex items-center uppercase text-xs font-medium text-secondary">
            <div>Name</div>
            <div class="ml-auto text-right flex items-center gap-6">
              <div class="w-24">
                <p>Weight</p>
              </div>
              <div class="w-40">
                <p>Value</p>
              </div>
            </div>
          </div>

          <div class="shadow-border-xs rounded-lg bg-white">
            <% classification_totals.each do |accountable_total| %>
              <% accounts = Current.family.accounts.active.where(accountable_type: accountable_total.accountable.name) %>
              <details class="group rounded-lg open:bg-surface font-medium text-sm">
                <summary class="cursor-pointer p-4 group-open:bg-surface bg-white rounded-lg flex items-center justify-between">
                  <div class="flex items-center gap-4">
                    <%= lucide_icon("chevron-right", class: "group-open:rotate-90 text-secondary w-5 h-5") %>

                    <p><%= accountable_total.accountable.display_name %></p>
                  </div>

                  <div class="ml-auto flex items-center text-right gap-6">
                    <div class="w-24 flex items-center justify-end gap-2">
                      <%= render partial: "shared/progress_circle", locals: { progress: accountable_total.weight, text_class: accountable_total.color } %>
                      <p><%= number_to_percentage accountable_total.weight, precision: 0 %></p>
                    </div>

                    <div class="w-40">
                      <p><%= format_money(accountable_total.total_money) %></p>
                    </div>
                  </div>
                </summary>

                <div>
                  <% accounts.each do |account| %>
                    <div class="pl-12 pr-4 py-3 flex items-center justify-between text-sm font-medium">
                      <div class="flex items-center gap-3">
                        <%= render "accounts/logo", account: account, size: "sm" %>
                        <p><%= account.name %></p>
                      </div>

                      <div class="ml-auto flex items-center text-right gap-6">
                        <div class="w-24 flex items-center justify-end gap-2">
                          <%= render partial: "shared/progress_circle", locals: { progress: account.weight, text_class: accountable_total.color } %>
                          <p><%= number_to_percentage account.weight, precision: 0 %></p>
                        </div>

                        <div class="w-40">
                          <p><%= format_money(account.balance_money) %></p>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </details>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="py-20 flex flex-col items-center">
          <%= lucide_icon classification == "asset" ? "blocks" : "scale", class: "w-6 h-6 shrink-0 text-secondary" %>
          <p class="text-primary text-sm font-medium mb-1 mt-4">No <%= display %></p>
          <p class="text-secondary text-sm max-w-xs text-center"><%= "You have no #{display.singularize.downcase} accounts" %></p>
        </div>
      <% end %>
    </section>
  <% end %>
</div>