<% content_for :page_header do %>
  <div class="flex flex-row justify-between items-start gap-2 sm:gap-0">
    <div class="space-y-1 mb-6">
      <h1 class="text-3xl font-medium text-primary">Welcome back, <%= Current.user.first_name %></h1>
      <p class="text-secondary">Here's what's happening with your finances</p>
    </div>
    <div class="flex sm:hidden">
      <%= link_to new_account_path(step: "method_select"),
              class: "flex items-center rounded-full bg-inverse p-3",
              data: { turbo_frame: "modal" } do %>
      <%= icon("plus", color: "white") %>
    <% end %>
    </div>
  </div>
<% end %>

<div class="w-full space-y-6 pb-24">
  <section class="bg-container py-4 rounded-xl shadow-border-xs">
    <%= render partial: "pages/dashboard/net_worth_chart", locals: { series: @balance_sheet.net_worth_series(period: @period), period: @period } %>
  </section>

  <section>
    <%= render "pages/dashboard/balance_sheet", balance_sheet: @balance_sheet %>
  </section>
</div>
