<%# locals: (account:, title: nil, tooltip: nil, chart_view: nil, **args) %>

<% period =  @period || Period.last_30_days %>
<% default_value_title = account.asset? ? t(".balance") : t(".owed") %>

<div id="<%= dom_id(account, :chart) %>" class="bg-container shadow-xs rounded-xl border border-alpha-black-25 rounded-lg space-y-2">
  <div class="flex justify-between flex-col-reverse lg:flex-row gap-2 px-4 pt-4 mb-2">
    <div class="space-y-2 w-full">
      <div class="flex items-center gap-1">
        <%= tag.p title || default_value_title, class: "text-sm font-medium text-secondary" %>
        <%= tooltip %>
      </div>

      <%= tag.p format_money(account.balance_money), class: "text-primary text-3xl font-medium truncate" %>
    </div>

    <%= form_with url: request.path, method: :get, data: { controller: "auto-submit-form" } do |form| %>
      <div class="flex items-center gap-2">
        <% if chart_view.present? %>
          <%= form.select :chart_view,
            [["Total value", "balance"], ["Holdings", "holdings_balance"], ["Cash", "cash_balance"]],
            { selected: chart_view },
            class: "border border-secondary rounded-lg text-sm pr-7 cursor-pointer text-primary focus:outline-hidden focus:ring-0",
            data: { "auto-submit-form-target": "auto" } %>
        <% end %>

        <%= form.select :period,
                    Period.as_options,
                    { selected: period.key },
                    data: { "auto-submit-form-target": "auto" },
                    class: "bg-container border border-secondary font-medium rounded-lg px-3 py-2 text-sm pr-7 cursor-pointer text-primary focus:outline-hidden focus:ring-0" %>
      </div>
    <% end %>
  </div>

  <%= turbo_frame_tag dom_id(account, :chart_details), src: chart_account_path(account, period: period.key, chart_view: chart_view) do %>
    <%= render "accounts/chart_loader" %>
  <% end %>
</div>
