<%# locals: (account:, title: nil, subtitle: nil) %>

<header class="space-y-4">
  <div class="flex items-center gap-4">
    <% content = yield %>

    <% if content.present? %>
      <%= content %>
    <% else %>
      <div class="flex items-center gap-3 overflow-hidden">
        <%= render "accounts/logo", account: account %>

        <div class="truncate">
          <h2 class="font-medium text-xl truncate"><%= title || account.name %></h2>
          <% if subtitle.present? %>
            <p class="text-sm text-secondary"><%= subtitle %></p>
          <% end %>
        </div>
      </div>
    <% end %>


    <%# Show error warnings %>
    <% if account.simple_fin_account_id.present? %>
      <div style="color: red; text-align: center;">
        <%= account.simple_fin_account.simple_fin_item.institution_errors.join(",") %>
      </div>
    <% end %>

    <div class="flex items-center gap-1 ml-auto">
      <% if Rails.env.development? %>
        <%= icon(
            "refresh-cw",
            as_button: true,
            size: "sm",
            href: account.linked? ? sync_plaid_item_path(account.plaid_account.plaid_item) : sync_account_path(account),
            disabled: account.syncing?,
            frame: :_top,
            title: "Refresh all SimpleFIN accounts"
          ) %>
        <% end %>
      <% elsif account.simple_fin_account_id.present? %>
        <%= image_tag "simple-fin-logo.svg", class: "h-6 w-auto", title: "Connected via SimpleFIN. This account will auto refresh." %>
        <%= render "accounts/account_error", account: account, link_to_path: "https://beta-bridge.simplefin.org/my-account", given_title: "This account has issues in SimpleFIN bridge. Update it and then re-sync.", target: :_blank %>
        <%# Re sync button. Will sync all SimpleFIN accounts %>
        <%= icon(
          "refresh-cw",
          as_button: true,
          size: "sm",
          href: sync_simple_fin_path(account.simple_fin_account.simple_fin_item),
          disabled: account.syncing?,
          frame: :_top
        ) %>
      <% else %>
        <%= icon(
          "refresh-cw",
          as_button: true,
          size: "sm",
          href: sync_account_path(account),
          disabled: account.syncing?,
          frame: :_top
        ) %>
      <% end %>

      <%= render "accounts/show/menu", account: account %>
    </div>
  </div>
</header>