<%# locals: (account:) %>

<%= contextual_menu do %>
  <div class="w-48 p-1 text-sm leading-6 text-gray-900 bg-white shadow-lg shrink rounded-xl ring-1 ring-gray-900/5">
    <%= link_to edit_polymorphic_path(account.accountable),
                      data: { turbo_frame: :modal },
                      class: "block w-full py-2 px-3 space-x-2 text-gray-900 hover:bg-gray-50 flex items-center rounded-lg" do %>
      <%= lucide_icon "pencil-line", class: "w-5 h-5 text-gray-500" %>

      <span><%= t(".edit") %></span>
    <% end %>

    <%= link_to new_import_path,
                      class: "block w-full py-2 px-3 space-x-2 text-gray-900 hover:bg-gray-50 flex items-center rounded-lg" do %>
      <%= lucide_icon "download", class: "w-5 h-5 text-gray-500" %>

      <span><%= t(".import") %></span>
    <% end %>

    <%= button_to polymorphic_path(account.accountable),
                        method: :delete,
                        class: "block w-full py-2 px-3 space-x-2 text-red-600 hover:bg-red-50 flex items-center rounded-lg",
                        data: {
                          turbo_confirm: {
                            title: t(".confirm_title"),
                            body: t(".confirm_body_html"),
                            accept: t(".confirm_accept", name: account.name)
                          }
                        } do %>
      <%= lucide_icon("trash-2", class: "w-5 h-5 mr-2") %> Delete account
    <% end %>
  </div>
<% end %>
