<%# locals: (merchant:) %>

<div class="flex justify-between items-center p-4 bg-container">
  <div class="flex w-full items-center gap-2.5">
    <% if merchant.icon_url %>
      <div class="w-8 h-8 rounded-full flex justify-center items-center">
        <%= image_tag merchant.icon_url, class: "w-8 h-8 rounded-full" %>
      </div>
    <% else %>
      <%= render partial: "shared/color_avatar", locals: { name: merchant.name, color: merchant.color } %>
    <% end %>

    <p class="text-primary text-sm truncate">
      <%= merchant.name %>
    </p>
  </div>
  <div class="justify-self-end">
    <%= contextual_menu do %>
      <div class="w-48 p-1 text-sm leading-6 text-primary bg-container shadow-lg shrink rounded-xl ring-1 ring-gray-900/5">
        <%= contextual_menu_modal_action_item t(".edit"), edit_merchant_path(merchant) %>

        <%= contextual_menu_destructive_item t(".delete"),
                                             merchant_path(merchant),
                                             turbo_frame: "_top",
                                             turbo_confirm: merchant.transactions.any? ? {
                                               title: t(".confirm_title"),
                                               body: t(".confirm_body"),
                                               accept: t(".confirm_accept")
                                             } : nil %>
      </div>
    <% end %>
  </div>
</div>
