<h1>Update Password</h1>

<%= form_with model: current_user, url: password_path do |form| %>
  <%= auth_messages form %>

  <div>
    <%= form.label :password_challenge, "Current Password" %>
    <%= form.password_field :password_challenge %>
  </div>

  <div>
    <%= form.label :password, "New Password" %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div>
    <%= form.submit 'Update Password' %>
  </div>
<% end %>

