<h1><% t(".title") %></h1>

<%= styled_form_with model: Current.user, url: password_path, class: "space-y-4" do |form| %>
  <div>
    <%= form.label :password_challenge, t(".password_challenge") %>
    <%= form.password_field :password_challenge %>
  </div>

  <div>
    <%= form.label :password, t(".password") %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div>
    <%= form.submit t(".submit") %>
  </div>
<% end %>
