<%# locals: (entry:) %>

<% trade, account = entry.account_trade, entry.account %>

<%= drawer do %>
  <div>
    <header class="mb-4 space-y-1">
      <div class="flex items-center gap-4">
        <h3 class="font-medium">
          <span class="text-2xl"><%= format_money -entry.amount_money %></span>
          <span class="text-lg text-gray-500"><%= entry.currency %></span>
        </h3>
      </div>

      <span class="text-sm text-gray-500"><%= entry.date.strftime("%A %d %B") %></span>
    </header>

    <div class="space-y-2">
      <details class="group space-y-2" open>
        <summary class="flex list-none items-center justify-between rounded-xl px-3 py-2 text-xs font-medium uppercase text-gray-500 bg-gray-25 focus-visible:outline-none">
          <h4><%= t(".overview") %></h4>
          <%= lucide_icon "chevron-down", class: "group-open:transform group-open:rotate-180 text-gray-500 w-5" %>
        </summary>

        <div class="pb-6 pl-4 text-gray-500">
          <p>Details coming soon...</p>
        </div>
      </details>
    </div>
  </div>
<% end %>
