<%= content_for :title, @issue.title %>

<%= content_for :description do %>
  <p>An unknown issue has occurred.</p>

  <pre><code><%= JSON.pretty_generate(@issue.data || "No data provided for this issue") %></code></pre>
<% end %>

<%= content_for :action do %>
  <p>There is no fix for this issue yet.</p>

  <p>Maybe is in active development and we value your feedback. There are a couple ways you can report this issue to
    help us make Maybe better:</p>

  <ul>
    <li>Post in our <%= link_to "Discord server", "https://link.maybe.co/discord", target: "_blank" %></li>
    <li>Open an issue on
      our <%= link_to "Github repository", "https://github.com/maybe-finance/maybe/issues", target: "_blank" %></li>
  </ul>

  <p>If there is data shown in the code block above that you think might be helpful, please include it in your
    report.</p>
<% end %>
