<div class="flex gap-2 items-center">
  <div class="border border-gray-100">
    <%= form_with url: clean_import_path(row.import), method: :patch, data: { turbo: false, controller: "auto-submit-form", "auto-submit-form-trigger-event-value" => "blur" } do |form| %>
      <%= form.text_field :date, value: row.date, data: { "auto-submit-form-target" => "auto" } %>
    <% end %>
  </div>
  <div class="border border-gray-100">
    <%= form_with url: clean_import_path(row.import), method: :patch, data: { turbo: false, controller: "auto-submit-form", "auto-submit-form-trigger-event-value" => "blur" } do |form| %>
      <%= form.text_field :name, value: row.name, data: { "auto-submit-form-target" => "auto" } %>
    <% end %>
  </div>
  <div class="border border-gray-100">
    <%= form_with url: clean_import_path(row.import), method: :patch, data: { turbo: false, controller: "auto-submit-form", "auto-submit-form-trigger-event-value" => "blur" } do |form| %>
      <%= form.text_field :category, value: row.category, data: { "auto-submit-form-target" => "auto" } %>
    <% end %>
  </div>
  <div class="border border-gray-100">
    <%= form_with url: clean_import_path(row.import), method: :patch, data: { turbo: false, controller: "auto-submit-form", "auto-submit-form-trigger-event-value" => "blur" } do |form| %>
      <%= form.text_field :amount, value: row.amount, data: { "auto-submit-form-target" => "auto" } %>
    <% end %>
  </div>
</div>
