<%= content_for :return_to_path, return_to_path(params, imports_path) %>

<%= content_for :nav do %>
  <%= render "imports/nav", import: @import %>
<% end %>

<div>
  <h1 class="sr-only">Clean import</h1>

  <table>
    <% @import.parsed_csv.each_with_index do |row, row_index| %>
      <tr>
        <% row.fields.each_with_index do |value, col_index| %>
          <td>
            <%= form_with model: @import, url: import_clean_url(@import), method: :patch, data: { turbo: false, controller: "auto-submit-form" } do |form| %>
              <%= fields_for :csv_update do |ff| %>
                <%= ff.hidden_field :row_idx, value: row_index %>
                <%= ff.hidden_field :col_idx, value: col_index %>
                <%= ff.text_field :value, value: value, id: "cell-#{row_index}-#{col_index}", data: { "auto-submit-form-target" => "auto" } %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <%= link_to "Next", import_confirm_path(@import), class: "px-4 py-2 block w-full rounded-lg bg-gray-900 text-white text-sm font-medium" %>
</div>
