<div class="space-y-4">
  <div class="flex items-center justify-between">
    <div class="space-y-1">
      <p class="text-sm"><%= t(".title") %></p>
      <p class="text-secondary text-sm"><%= t(".description") %></p>
    </div>

    <%= styled_form_with model: Setting.new,
                         url: settings_hosting_path,
                         method: :patch,
                         data: { controller: "auto-submit-form", auto_submit_form_trigger_event_value: "change" } do |form| %>
      <%= form.toggle :require_invite_for_signup, { data: { auto_submit_form_target: "auto" } } %>
    <% end %>
  </div>

  <div class="flex items-center justify-between">
    <div class="space-y-1">
      <p class="text-sm"><%= t(".email_confirmation_title") %></p>
      <p class="text-secondary text-sm"><%= t(".email_confirmation_description") %></p>
    </div>

    <%= styled_form_with model: Setting.new,
                         url: settings_hosting_path,
                         method: :patch,
                         data: { controller: "auto-submit-form", auto_submit_form_trigger_event_value: "change" } do |form| %>
      <%= form.toggle :require_email_confirmation, { data: { auto_submit_form_target: "auto" } } %>
    <% end %>
  </div>

  <% if Setting.require_invite_for_signup %>
    <div class="flex items-center justify-between mb-4">
      <div>
        <span class="text-primary text-base font-medium"><%= t(".generated_tokens") %></span>
      </div>
      <div>
        <%= button_to invite_codes_path,
                        method: :post,
                        class: "flex gap-1 bg-gray-50 text-primary text-sm rounded-lg px-3 py-2" do %>
          <span><%= t(".generate_tokens") %></span>
        <% end %>
      </div>
    </div>

    <div>
      <%= turbo_frame_tag :invite_codes, src: invite_codes_path %>
    </div>
  <% end %>
</div>
