<%= content_for :page_title, t(".title") %>

<%= settings_section title: t(".general") do %>
  <div class="space-y-6">
    <%= render "settings/hostings/synth_settings" %>
  </div>
<% end %>

<%= settings_section title: t(".invites") do %>
  <%= render "settings/hostings/invite_code_settings" %>
<% end %>

<%= settings_section title: t(".danger_zone") do %>
  <%= render "settings/hostings/danger_zone_settings" %>
<% end %>
