<% content_for :sidebar do %>
  <%= render "settings/nav" %>
<% end %>
<div class="space-y-4">
  <h1 class="text-gray-900 text-xl font-medium mb-4"><%= t(".page_title") %></h1>
  <%= settings_section title: t(".general_settings_title") do %>
    <%= form_with model: Setting.new, url: settings_hosting_path, method: :patch, local: true, html: { class: "space-y-6", data: { controller: "auto-submit-form", "auto-submit-form-trigger-event-value" => "blur" } } do |form| %>
      <div>
        <h2 class="font-medium mb-1"><%= t(".upgrades.title") %></h2>
        <p class="text-gray-500 text-sm mb-4"><%= t(".upgrades.description") %></p>
        <div class="space-y-4">
          <div class="flex items-center gap-4">
            <%= form.radio_button :upgrades_mode, "manual", checked: Setting.upgrades_mode == "manual", data: { "auto-submit-form-target" => "auto", "autosubmit-trigger-event": "input" } %>
            <%= form.label :upgrades_mode_manual, t(".upgrades.manual.title"), class: "text-gray-900 text-sm" do %>
              <span class="font-medium"><%= t(".upgrades.manual.title") %></span>
              <br>
              <span class="text-gray-500">
                <%= t(".upgrades.manual.description") %>
              </span>
            <% end %>
          </div>
          <div class="flex items-center gap-4">
            <%= form.radio_button :upgrades_mode, "release", checked: Setting.upgrades_mode == "auto" && Setting.upgrades_target == "release", data: { "auto-submit-form-target" => "auto", "autosubmit-trigger-event": "input" } %>
            <%= form.label :upgrades_mode_release, t(".upgrades.latest_release.title"), class: "text-gray-900 text-sm" do %>
              <span class="font-medium"><%= t(".upgrades.latest_release.title") %></span>
              <br>
              <span class="text-gray-500">
                <%= t(".upgrades.latest_release.description") %>
              </span>
            <% end %>
          </div>
          <div class="flex items-center gap-4">
            <%= form.radio_button :upgrades_mode, "commit", checked: Setting.upgrades_mode == "auto" && Setting.upgrades_target == "commit", data: { "auto-submit-form-target" => "auto", "autosubmit-trigger-event": "input" } %>
            <%= form.label :upgrades_mode_commit, t(".upgrades.latest_commit.title"), class: "text-gray-900 text-sm" do %>
              <span class="font-medium"><%= t(".upgrades.latest_commit.title") %></span>
              <br>
              <span class="text-gray-500">
                <%= t(".upgrades.latest_commit.description") %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
      <div>
        <h2 class="font-medium mb-1"><%= t(".provider_settings.title") %></h2>
        <p class="text-gray-500 text-sm mb-4"><%= t(".render_deploy_hook_description") %></p>
        <%= form.url_field :render_deploy_hook, label: t(".render_deploy_hook_label"), placeholder: t(".render_deploy_hook_placeholder"), value: Setting.render_deploy_hook, data: { "auto-submit-form-target" => "auto" } %>
      </div>
      <div>
        <h2 class="font-medium mb-1"><%= t(".smtp_settings.title") %></h2>
        <p class="text-gray-500 text-sm mb-4"><%= t(".smtp_settings.description") %></p>
        <div class="space-y-4">
          <div class="space-y-3">
            <%= form.text_field :smtp_domain, disabled: true, label: t(".smtp_settings.domain"), placeholder: t(".smtp_settings.domain_placeholder") %>
            <%= form.text_field :smtp_host, disabled: true, label: t(".smtp_settings.host"), placeholder: t(".smtp_settings.host_placeholder") %>
            <%= form.number_field :smtp_port, disabled: true, label: t(".smtp_settings.port"), placeholder: t(".smtp_settings.port_placeholder") %>
            <%= form.text_field :smtp_username, disabled: true, label: t(".smtp_settings.username"), placeholder: t(".smtp_settings.username_placeholder") %>
            <%= form.password_field :smtp_password, disabled: true, label: t(".smtp_settings.password"), placeholder: t(".smtp_settings.password_placeholder") %>
          </div>
          <div class="flex items-center justify-between bg-white border border-alpha-black-100 p-4 rounded-lg">
            <div class="flex items-center gap-3">
              <div class="w-10 h-10 rounded-full bg-gray-25 flex items-center justify-center">
                <%= lucide_icon "mails", class: "w-6 h-6 text-gray-500" %>
              </div>
              <div>
                <p class="text-gray-900 font-medium text-sm"><%= t(".smtp_settings.send_test_email") %></p>
                <p class="text-gray-500 text-sm"><%= t(".smtp_settings.send_test_email_description") %></p>
              </div>
            </div>
            <div>
              <button type="button" class="bg-gray-50 text-gray-900 text-sm font-medium rounded-lg px-3 py-2 cursor-not-allowed" disabled><%= t(".smtp_settings.send_test_email_button") %></button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="flex justify-between gap-4">
    <%= previous_setting("Billing", settings_billing_path) %>
    <%= next_setting("Accounts", accounts_path) %>
  </div>
</div>
