<%# locals: (account:, url:) %>

<%= render "accounts/form", account: account, url: url do |form| %>
  <%= render "shared/ruler", classes: "my-4" %>

  <div class="space-y-2">
    <%= form.fields_for :accountable do |loan_form| %>
      <div class="flex items-center gap-2">
        <%= loan_form.money_field :initial_balance,
                                 label: t("loans.form.initial_balance"),
                                 default_currency: Current.family.currency,
                                 required: true %>
      </div>

      <div class="flex items-center gap-2">
        <%= loan_form.number_field :interest_rate,
                                 label: t("loans.form.interest_rate"),
                                 placeholder: t("loans.form.interest_rate_placeholder"),
                                 min: 0,
                                 step: 0.005 %>
        <%= loan_form.select :rate_type,
                           [["Fixed", "fixed"], ["Variable", "variable"], ["Adjustable", "adjustable"]],
                           { label: t("loans.form.rate_type") } %>
      </div>

      <div class="flex items-center gap-2">
        <%= loan_form.number_field :term_months,
                                 label: t("loans.form.term_months"),
                                 placeholder: t("loans.form.term_months_placeholder") %>
      </div>
    <% end %>
  </div>
<% end %>
