<h2 class="mt-10 text-2xl font-bold leading-9 tracking-tight text-center text-gray-900">Log in to your account</h2>

<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "space-y-6" }) do |f| %>
    
    <%= render "devise/shared/error_messages", resource: resource %>

    <div>
      <%= f.label :email, class: 'block text-sm font-medium leading-6 text-gray-900' %>
      <div class="mt-2">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6' %>
      </div>
    </div>

    <div>
      <%= f.label :password, class: 'block text-sm font-medium leading-6 text-gray-900' %>
      <div class="mt-2">
        <%= f.password_field :password, autocomplete: "current-password", class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6' %>
      </div>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="flex items-center gap-x-3">
        <%= f.check_box :remember_me, class: 'h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-600' %>
        <%= f.label :remember_me, class: 'block text-sm font-medium leading-6 text-gray-900' %>
      </div>
    <% end %>

    <div>
      <%= f.submit "Log in", class: "flex w-full justify-center rounded-md bg-blue-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
