<%# locals: (entry:) %>

<%= styled_form_with model: entry, url: valuations_path, class: "space-y-4" do |form| %>
  <%= form.hidden_field :account_id %>

  <% if entry.errors.any? %>
    <%= render "shared/form_errors", model: entry %>
  <% end %>

  <div class="space-y-3">
    <%= form.hidden_field :name, value: "Balance update" %>
    <%= form.date_field :date, label: true, required: true, value: Date.current, min: Entry.min_supported_date, max: Date.current %>
    <%= form.money_field :amount, label: t(".amount"), required: true %>
  </div>

  <%= form.submit t(".submit") %>
<% end %>
