<%# locals (f:, form_icon:, submit_button_text:)%>
<div class="h-[72px] p-4 flex items-center">
  <div class="w-16">
    <div class="w-8 h-8 rounded-full p-1.5 flex items-center justify-center bg-gray-500/5">
      <%= lucide_icon(form_icon, class: "w-4 h-4 text-gray-500") %>
    </div>
  </div>
  <div class="flex items-center justify-between grow">
    <%= f.date_field :date, required: 'required', onclick:"this.showPicker()", class: "border border-alpha-black-200 bg-white rounded-lg shadow-xs min-w-[200px] px-3 py-1.5 text-gray-900 text-sm" %>
    <%= f.number_field :value, step: :any, placeholder: number_to_currency(0), in: 0.00..100000000.00, required: 'required', class: "bg-white border border-alpha-black-200 rounded-lg shadow-xs text-gray-900 text-sm px-3 py-1.5 text-right" %>
  </div>
  <div class="w-[296px] flex gap-2 justify-end items-center">
    <%= link_to "Cancel", account_path(@valuation.account), class: "text-sm text-gray-900 hover:text-gray-800 font-medium px-3 py-1.5" %>
    <%= f.submit submit_button_text, class: "bg-gray-50 rounded-lg font-medium px-3 py-1.5 cursor-pointer hover:bg-gray-100 text-sm" %>
  </div>
</div>
