<%= content_for :title, @issue.title %>

<%= content_for :description do %>
  <p>Some stock prices are missing for this account.</p>

  <pre><code><%= JSON.pretty_generate(@issue.data) %></code></pre>
<% end %>

<%= content_for :action do %>
  <%= render "issue/request_synth_data_action" %>
<% end %>