<%# locals: (holding:) %>

<%= turbo_frame_tag dom_id(holding) do %>
  <div class="grid grid-cols-12 items-center text-gray-900 text-sm font-medium p-4">
    <div class="col-span-4 flex items-center gap-4">
      <%= render "shared/circle_logo", name: holding.name %>
      <div>
        <%= link_to holding.name, account_holding_path(holding.account, holding), data: { turbo_frame: :drawer }, class: "hover:underline" %>
        <%= tag.p holding.symbol, class: "text-gray-500 text-xs uppercase" %>
      </div>
    </div>

    <div class="col-span-2 flex justify-end items-center gap-2">
      <%= render "shared/progress_circle", progress: holding.weight, text_class: "text-blue-500" %>
      <%= tag.p number_to_percentage(holding.weight, precision: 1) %>
    </div>

    <div class="col-span-2 text-right">
      <%= tag.p format_money holding.avg_cost %>
      <%= tag.p t(".per_share"), class: "font-normal text-gray-500" %>
    </div>

    <div class="col-span-2 text-right">
      <%= tag.p format_money holding.amount_money %>
      <%= tag.p t(".shares", qty: number_with_precision(holding.qty, precision: 1)), class: "font-normal text-gray-500" %>
    </div>

    <div class="col-span-2 text-right">
      <%= tag.p format_money holding.trend.value %>
      <%= tag.p number_to_percentage(holding.trend.percent, precision: 1) %>
    </div>
  </div>
<% end %>
