<%= content_for :page_title, t(".page_title") %>

<%= settings_section title: t(".mfa_title"), subtitle: t(".mfa_description") do %>
  <div class="space-y-4">
    <div class="p-3 space-y-4 shadow-border-xs bg-container rounded-lg flex flex-col sm:flex-row justify-between items-center">
      <div class="flex items-center justify-between gap-3">
        <div class="order-2 sm:order-1 flex-grow flex-shrink-0 w-9 h-9 rounded-full bg-gray-25 flex justify-center items-center">
          <%= lucide_icon "shield-check", class: "w-5 h-5 text-secondary" %>
        </div>

        <div class="order-1 sm:order-2 text-sm space-y-1">
          <% if Current.user.otp_required? %>
            <p class="text-primary">Two-factor authentication is <span class="font-medium text-green-600">enabled</span></p>
            <p class="text-secondary">Your account is protected with an additional layer of security.</p>
          <% else %>
            <p class="text-primary">Two-factor authentication is <span class="font-medium text-red-600">disabled</span></p>
            <p class="text-secondary">Enable 2FA to add an extra layer of security to your account.</p>
          <% end %>
        </div>
      </div>

      <% if Current.user.otp_required? %>
        <%= button_to t(".disable_mfa"), disable_mfa_path,
            form: { class: "w-full sm:w-auto" },
            method: :delete,
            class: "btn btn--secondary w-full flex !bg-[red] items-center gap-1",
            data: { turbo_confirm: {
              title: t(".disable_mfa_confirm"),
              body: t(".disable_mfa_confirm"),
              accept: t(".disable_mfa"),
              acceptClass: "w-full bg-red-500 text-white rounded-xl text-center p-[10px] border mb-2"
            } } %>
      <% else %>
        <%= link_to t(".enable_mfa"), new_mfa_path,
            class: "btn btn--primary w-full sm:w-auto flex justify-center items-center gap-1" %>
      <% end %>
    </div>
  </div>
<% end %>
