<%= content_for :page_title, t(".page_title") %>

<%= settings_section title: t(".mfa_title"), subtitle: t(".mfa_description") do %>
  <div class="space-y-4">
    <div class="p-3 shadow-border-xs bg-container rounded-lg md:flex md:justify-between md:items-center">
      <div class="flex items-center gap-3">
        <div class="w-9 h-9 rounded-full bg-gray-25 flex justify-center items-center">
          <%= icon "shield-check" %>
        </div>

        <div class="text-sm space-y-1">
          <% if Current.user.otp_required? %>
            <p class="text-primary">Two-factor authentication is <span class="font-medium text-green-600">enabled</span></p>
            <p class="text-secondary">Your account is protected with an additional layer of security.</p>
          <% else %>
            <p class="text-primary">Two-factor authentication is <span class="font-medium text-red-600">disabled</span></p>
            <p class="text-secondary">Enable 2FA to add an extra layer of security to your account.</p>
          <% end %>
        </div>
      </div>

      <div class="mt-4 md:mt-0">
        <% if Current.user.otp_required? %>
          <%= render ButtonComponent.new(
            text: t(".disable_mfa"),
            variant: "secondary",
            href: disable_mfa_path,
            method: :delete,
            confirm: CustomConfirm.new(
              title: t(".disable_mfa_confirm"),
              body: t(".disable_mfa_confirm"),
              btn_text: t(".disable_mfa"),
              destructive: true
            )
          ) %>
        <% else %>
          <%= render LinkComponent.new(
            text: t(".enable_mfa"),
            variant: "primary",
            href: new_mfa_path
          ) %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
