<%# locals: (transfer:, outflow: false) %>

<div class="flex items-center gap-2">
  <% if outflow %>
    <%= link_to transfer.from_account, data: { turbo_frame: :_top }, class: "hover:opacity-90" do %>
      <%= circle_logo(transfer.from_name[0].upcase, size: "sm") %>
    <% end %>

    <%= lucide_icon "arrow-right", class: "text-gray-500 w-4 h-4" %>

    <%= link_to transfer.to_account, data: { turbo_frame: :_top }, class: "hover:opacity-90" do %>
      <%= circle_logo(transfer.to_name[0].upcase, size: "sm") %>
    <% end %>
  <% else %>
    <%= link_to transfer.to_account, data: { turbo_frame: :_top }, class: "hover:opacity-90" do %>
      <%= circle_logo(transfer.to_name[0].upcase, size: "sm") %>
    <% end %>

    <%= lucide_icon "arrow-left", class: "text-gray-500 w-4 h-4" %>

    <%= link_to transfer.from_account, data: { turbo_frame: :_top }, class: "hover:opacity-90" do %>
      <%= circle_logo(transfer.from_name[0].upcase, size: "sm") %>
    <% end %>
  <% end %>
</div>
