<%= turbo_frame_tag dom_id(transfer), class: "block" do %>
  <details class="group flex items-center text-gray-900 text-sm font-medium">
    <summary class="flex items-center justify-between p-4">
      <div class="flex items-center gap-4">
        <%= button_to account_transfer_path(transfer),
                      method: :delete,
                      class: "flex items-center group/transfer",
                      data: {
                        turbo_frame: "_top",
                        turbo_confirm: {
                          title: t(".remove_title"),
                          body: t(".remove_body"),
                          confirm: t(".remove_confirm")
                        }
                      } do %>
          <%= lucide_icon "arrow-left-right", class: "group-hover/transfer:hidden w-5 h-5 text-gray-500" %>
          <%= lucide_icon "unlink", class: "group-hover/transfer:inline-block hidden w-5 h-5 text-gray-500" %>
        <% end %>

        <div class="max-w-full pr-10 select-none">
          <%= tag.p t(".transfer_name", from_account: transfer.outflow_transaction&.entry&.account&.name, to_account: transfer.inflow_transaction&.entry&.account&.name) %>
        </div>
      </div>

      <%= lucide_icon "chevron-down", class: "group-open:transform group-open:rotate-180 text-gray-500 w-5" %>
    </summary>

    <div class="divide-y divide-alpha-black-200">
      <% transfer.transactions.each do |transaction| %>
        <%= render transaction, selectable: false, editable: false %>
      <% end %>
    </div>
  </details>
<% end %>
