<%# locals: (transfer:, selectable: true, editable: true, short: false, **opts) %>

<%= turbo_frame_tag dom_id(transfer) do %>
  <div class="grid grid-cols-12 items-center text-gray-900 text-sm font-medium p-4">
    <div class="col-span-7 flex items-center">
      <% if selectable %>
        <%= check_box_tag dom_id(transfer, "selection"),
                          disabled: true,
                          class: "mr-3 cursor-not-allowed maybe-checkbox maybe-checkbox--light" %>
      <% end %>

      <%= tag.div class: short ? "max-w-[250px]" : "max-w-[325px]" do %>
        <div class="flex items-center gap-2">
          <%= circle_logo(transfer.from_name[0].upcase) %>

          <%= tag.p transfer.name, class: "truncate text-gray-900" %>
        </div>
      <% end %>

      <%= button_to account_transfer_path(transfer),
                    method: :delete,
                    class: "ml-2 flex items-center group/transfer hover:bg-gray-50 rounded-md p-1",
                    data: {
                      turbo_frame: "_top",
                      turbo_confirm: {
                        title: t(".remove_title"),
                        body: t(".remove_body"),
                        confirm: t(".remove_confirm")
                      }
                    } do %>

        <%= lucide_icon "link-2", class: "group-hover/transfer:hidden w-4 h-4 text-gray-500" %>
        <%= lucide_icon "unlink", class: "group-hover/transfer:inline-block hidden w-4 h-4 text-gray-500" %>
      <% end %>
    </div>

    <% unless short %>
      <div class="col-span-3 flex items-center gap-2">
        <%= circle_logo(transfer.from_name[0].upcase, size: "sm") %>
        <span class="text-gray-500 font-medium">&rarr;</span>
        <%= circle_logo(transfer.to_name[0].upcase, size: "sm") %>
      </div>
    <% end %>

    <div class="ml-auto <%= short ? "col-span-5" : "col-span-2" %>">
      <%= tag.p format_money(transfer.amount_money), class: "font-medium" %>
    </div>
  </div>
<% end %>
