<%= content_for :header_nav do %>
  <%= render "imports/nav", import: @import %>
<% end %>

<%= content_for :previous_path, imports_path %>

<div class="space-y-4">
  <div class="space-y-4 mx-auto max-w-md">
    <div class="text-center space-y-2">
      <h1 class="text-3xl text-primary font-medium"><%= t(".title") %></h1>
      <p class="text-secondary text-sm"><%= t(".description") %></p>
    </div>

    <div data-controller="tabs" data-tabs-active-class="bg-container" data-tabs-default-tab-value="csv-upload-tab">
      <div class="flex justify-center mb-4">
        <div class="tab-item-active rounded-lg inline-flex p-1 space-x-2 text-sm text-primary font-medium w-full bg-alpha-black-25">
          <button type="button" data-id="csv-upload-tab" class="px-2 py-1 rounded-lg w-full" data-tabs-target="btn" data-action="click->tabs#select">Upload CSV</button>
          <button type="button" data-id="csv-paste-tab" class="px-2 py-1 rounded-lg w-full" data-tabs-target="btn" data-action="click->tabs#select">Copy & Paste</button>
        </div>
      </div>

      <% ["csv-paste-tab", "csv-upload-tab"].each do |tab| %>
        <%= tag.div id: tab, data: { tabs_target: "tab" }, class: tab == "csv-upload-tab" ? "hidden" : "" do %>
          <%= styled_form_with model: @import, scope: :import, url: import_upload_path(@import), multipart: true, class: "space-y-2" do |form| %>
            <%= form.select :col_sep, Import::SEPARATORS, label: true %>

            <% if @import.type == "TransactionImport" || @import.type == "TradeImport" %>
              <%= form.select :account_id, @import.family.accounts.pluck(:name, :id), { label: "Account (optional)", include_blank: "Multi-account import", selected: @import.account_id } %>
            <% end %>

            <% if tab == "csv-paste-tab" %>
              <%= form.text_area :raw_file_str,
                       rows: 10,
                       required: true,
                       placeholder: "Paste your CSV file contents here",
                       "data-auto-submit-form-target": "auto" %>
            <% else %>
              <label for="import_csv_file" class="flex flex-col items-center justify-center w-full h-56 border-2 border-secondary border-dashed rounded-lg cursor-pointer bg-container hover:bg-container-inset">
                <div class="flex flex-col items-center justify-center pt-5 pb-6 space-y-3">
                  <%= lucide_icon("plus", class: "w-6 h-6 text-secondary") %>
                  <p class="text-center text-secondary"><span class="font-medium">Browse</span> to add your CSV file here</p>
                  <%= form.file_field :csv_file, class: "hidden", "data-auto-submit-form-target": "auto" %>
                </div>
              </label>
            <% end %>

            <%= form.submit "Upload CSV", disabled: @import.complete? %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="text-secondary text-sm p-1 mx-auto">
    <p class="text-center"><%= link_to t(".download_sample_1"), download_sample_import_upload_path(@import), class: "text-sm font-medium hover:underline" %> <%= t(".download_sample_2") %></p>
  </div>
</div>
