<%= modal do %>
  <article class="mx-auto p-4 space-y-4 w-screen max-w-xl">
    <header class="flex justify-between">
      <%= tag.h2 t(".title"), class: "font-medium text-xl" %>
      <%= lucide_icon "x", class: "w-5 h-5 text-gray-500", data: { action: "click->modal#close" } %>
    </header>

    <% if @transfer.errors.present? %>
      <div class="text-red-600 flex items-center gap-2">
        <%= lucide_icon "circle-alert", class: "w-5 h-5" %>
        <p class="text-sm"><%= @transfer.errors.full_messages.to_sentence %></p>
      </div>
    <% end %>

    <%= render "form", transfer: @transfer %>
  </article>
<% end %>
