<%# locals: (name:, path:, icon_key:) %>

<%= link_to path, class: "space-y-1 lg:py-1 group block" do %>
  <div class="grow flex flex-col lg:flex-row gap-1 items-center">
    <%= tag.div class: class_names("w-4 h-1 lg:w-1 lg:h-4 rounded-bl-sm rounded-br-sm lg:rounded-tr-sm lg:rounded-br-sm lg:rounded-bl-none", "bg-inverse" => page_active?(path)) %>

    <%= tag.div class: class_names("w-8 h-8 flex items-center justify-center mx-auto rounded-lg", page_active?(path) ? "bg-container shadow-xs text-primary" : "group-hover:bg-container-inset-hover text-secondary") do %>
      <%= icon(icon_key) %>
    <% end %>
  </div>

  <div class="grow pl-0 lg:pl-2">
    <%= tag.p class: class_names("text-center font-medium text-[11px]", page_active?(path) ? "text-primary" : "text-secondary") do %>
      <%= name %>
    <% end %>
  </div>
<% end %>
