<%# locals: (category:) %>
<div data-controller="menu">
  <button data-menu-target="button" type="button" class="flex items-center justify-center hover:bg-gray-50 w-8 h-8 rounded-lg">
    <%= lucide_icon("more-horizontal", class: "w-5 h-5 text-gray-500") %>
  </button>
  <div data-menu-target="content" class="absolute z-30 hidden w-screen mt-2 max-w-min">
    <div class="w-96 text-sm font-semibold leading-6 text-gray-900 bg-white shadow-lg shrink rounded-xl ring-1 ring-gray-900/5">
      <div class="flex flex-col">
        <div class="flex flex-col p-1.5 gap-1.5">
          <div class="relative flex items-center border border-gray-200 rounded-lg">
            <input value="<%= category.name %>" class="cursor-not-allowed font-normal h-10 relative pl-6 w-full border-none rounded-lg" disabled />
            <div class="w-2 h-5 ml-2 absolute inset-0 transform top-1/2 -translate-y-1/2 rounded-md" style="background-color: <%= category.color %>"></div>
          </div>
          <div class="cursor-not-allowed">
            <%= render partial: "transactions/category_dropdown/color_picker", locals: { value: category.color } %>
          </div>
        </div>
        <hr/>
        <div class="p-1.5 w-full">
          <button class="cursor-not-allowed flex text-sm font-medium items-center gap-2 text-red-600 w-full rounded-lg p-2 hover:bg-gray-100" disabled>
            <%= lucide_icon("trash-2", class: "w-5 h-5") %>
            Delete category
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
