<%# locals: (form:, category:, is_selected:, namespace:) %>
<%= content_tag :div, class: ["filterable-item flex items-center hover:bg-gray-25 border-none rounded-lg px-2 py-1 group", { "bg-gray-25": is_selected }], data: { filter_name: category.name } do %>
  <%= form.radio_button :category_id, category.id, class: "hidden", data: { auto_submit_form_target: "auto" } %>
  <%= label namespace, :transaction_category_id, value: category.id, class: "flex w-full items-center gap-1.5 cursor-pointer" do %>
    <span class="w-5 h-5">
      <%= lucide_icon("check", class: "w-5 h-5 text-gray-500") if is_selected %>
    </span>
    <%= render partial: "shared/category_badge", locals: { name: category.name, color: category.color } %>
  <% end %>
  <%= render partial: "transactions/category_dropdown/edit", locals: { category: } %>
<% end %>
