<%# locals: (transaction:) %>
<div class="relative" data-controller="dropdown" data-dropdown-close-on-click-value="false">
  <div class="flex cursor-pointer" data-action="click->dropdown#toggleMenu">
    <%= render partial: "shared/category_badge", locals: transaction.category.nil? ? {} : { name: transaction.category.name, color: transaction.category.color } %>
  </div>
  <div class="absolute z-10 hidden w-screen mt-2 max-w-min cursor-default" data-dropdown-target="menu">
    <div class="w-64 text-sm font-semibold leading-6 text-gray-900 bg-white shadow-lg shrink rounded-xl ring-1 ring-gray-900/5">
      <div class="flex flex-col" data-controller="list-filter">
        <div class="grow p-1.5">
          <div class="relative flex items-center bg-white border border-gray-200 rounded-lg">
            <input placeholder="Search" class="placeholder:text-sm placeholder:text-gray-500 font-normal h-10 relative pl-10 w-full border-none rounded-lg" data-list-filter-target="input" data-action="list-filter#filter" />
            <%= lucide_icon("search", class: "w-5 h-5 text-gray-500 ml-2 absolute inset-0 transform top-1/2 -translate-y-1/2") %>
          </div>
        </div>
        <%= form_with model: transaction, namespace: dom_id(transaction), html: { data: { controller: "auto-submit-form", list_filter_target: "list" }, class: "flex flex-col gap-0.5 p-1.5 mt-0.5 mr-2 max-h-64 overflow-y-scroll scrollbar" } do |form| %>
          <div class="py-8 pl-4 mt-0.5 mr-2 text-gray-500 hidden" data-list-filter-target="emptyMessage">
            No categories found
          </div>
          <% Current.family.transaction_categories.each do |category| %>
            <%= render partial: "transactions/category_dropdown/row", locals: { form:, category:, is_selected: category.id == transaction.category.try(:id), namespace: dom_id(transaction) } %>
          <% end %>
        <% end %>
        <hr/>
        <div class="p-1.5 w-full">
          <button class="cursor-not-allowed flex text-sm font-medium items-center gap-2 text-gray-500 w-full rounded-lg p-2 hover:bg-gray-100" disabled>
            <%= lucide_icon("plus", class: "w-5 h-5") %>
            Add new
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
