<%# locals: (transaction:) %>
<div class="relative" data-controller="dropdown">
  <div class="flex cursor-pointer" data-action="click->dropdown#toggleMenu">
    <%= render partial: "shared/category_badge", locals: transaction.category.nil? ? {} : { name: transaction.category.name, color: transaction.category.color } %>
  </div>
  <div class="absolute z-10 hidden w-screen mt-2 max-w-min cursor-default" data-dropdown-target="menu">
    <div class="w-64 text-sm font-semibold leading-6 text-gray-900 bg-white shadow-lg shrink rounded-xl ring-1 ring-gray-900/5">
      <div class="flex flex-col">
        <div class="grow p-1.5">
          <div class="relative flex items-center bg-white border border-gray-200 rounded-lg">
            <%= form_with url: search_category_transaction_path(transaction), namespace: dom_id(transaction), html: { class: "search-form w-full", data: { controller: "transactions-category-search" } } do |form| %>
              <%= form.search_field :q, placeholder: "Search category", class: "placeholder:text-sm placeholder:text-gray-500 font-normal h-10 relative pl-10 w-full border-none rounded-lg", data: { action: "transactions-category-search#search" } %>
              <%= lucide_icon("search", class: "w-5 h-5 text-gray-500 ml-2 absolute inset-0 transform top-1/2 -translate-y-1/2") %>
            <% end %>
          </div>
        </div>
        <%= render partial: "transactions/category_dropdown_list", locals: { transaction: transaction, transaction_categories: Current.family.transaction_categories } %>
        <hr/>
        <div class="p-1.5 w-full">
          <button class="cursor-not-allowed flex text-sm font-medium items-center gap-2 text-gray-500 w-full rounded-lg p-2 hover:bg-gray-100" disabled>
            <%= lucide_icon("plus", class: "w-5 h-5") %>
            Add new
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
