<%= styled_form_with model: @entry, url: transactions_path, class: "space-y-4" do |f| %>

  <% if entry.errors.any? %>
    <%= render "shared/form_errors", model: entry %>
  <% end %>

  <section>
    <fieldset class="bg-gray-50 rounded-lg p-1 grid grid-flow-col justify-stretch gap-x-2">
      <%= radio_tab_tag form: f, name: :nature, value: :outflow, label: t(".expense"), icon: "minus-circle", checked: params[:nature] == "outflow" || params[:nature].nil? %>
      <%= radio_tab_tag form: f, name: :nature, value: :inflow, label: t(".income"), icon: "plus-circle", checked: params[:nature] == "inflow" %>
      <%= link_to new_transfer_path, data: { turbo_frame: :modal }, class: "flex px-4 py-1 rounded-lg items-center space-x-2 justify-center text-subdued group-has-checked:bg-container group-has-checked:text-gray-800 group-has-checked:shadow-sm" do %>
        <%= lucide_icon "arrow-right-left", class: "w-5 h-5" %>
        <%= tag.span t(".transfer") %>
      <% end %>
    </fieldset>
  </section>

  <section class="space-y-2 overflow-hidden">
    <%= f.text_field :name, label: t(".description"), placeholder: t(".description_placeholder"), required: true %>

    <%= f.hidden_field :entryable_type, value: "Transaction" %>

    <% if @entry.account_id %>
      <%= f.hidden_field :account_id %>
    <% else %>
      <%= f.collection_select :account_id, Current.family.accounts.manual.alphabetically, :id, :name, { prompt: t(".account_prompt"), label: t(".account") }, required: true, class: "form-field__input text-ellipsis" %>
    <% end %>

    <%= f.money_field :amount, label: t(".amount"), required: true %>
    <%= f.fields_for :entryable do |ef| %>
      <%= ef.collection_select :category_id, Current.family.categories.alphabetically, :id, :name, { prompt: t(".category_prompt"), label: t(".category") } %>
    <% end %>
    <%= f.date_field :date, label: t(".date"), required: true, min: Entry.min_supported_date, max: Date.current, value: Date.current %>
  </section>

  <%= disclosure t(".details"), default_open: false do %>
    <%= f.fields_for :entryable do |ef| %>
      <%= ef.select :tag_ids,
            Current.family.tags.alphabetically.pluck(:name, :id),
            {
              include_blank: t(".none"),
              multiple: true,
              label:    t(".tags_label"),
              container_class: "h-40"
            } %>
    <% end %>
    <%= f.text_area :notes,
          label: t(".note_label"),
          placeholder: t(".note_placeholder"),
          rows: 5,
          "data-auto-submit-form-target": "auto" %>
  <% end %>

  <section>
    <%= f.submit t(".submit") %>
  </section>
<% end %>
