<%= form_with model: @transaction do |f| %>
  <div class="flex gap-2 items-center">
    <%= f.radio_button :type, 'published', checked: true %> Expense
    <%= f.radio_button :type, 'draft' %> Income
    <%= f.radio_button :type, 'archived', class: "cursor-not-allowed", disabled: true %> Transfer
  </div>
  <%= f.collection_select :account_id, Current.family.accounts, :id, :name, { prompt: "Select an Account", label: "Account" } %>
  <%= f.date_field :date, label: "Date" %>
  <%= f.text_field :name, label: "Name", placeholder: "Groceries" %>
  <%= f.collection_select :category_id, Current.family.transaction_categories, :id, :name, { prompt: "Select a category", label: "Category" } %>
  <%= f.text_field :notes, label: "Notes" %>
  <%= f.money_field :amount_money, label: "Amount" %>
  <%= f.submit %>
<% end %>
 