<%= form_with model: @transaction do |f| %>
  <div class="bg-gray-50 rounded-lg p-1 flex gap-1 text-sm text-gray-900 font-medium">
    <%= f.radio_tab_field :kind, :expense, checked: true do %>
      <%= lucide_icon "minus-circle", class: "w-4 h-4" %>
      <span>Expense</span>
    <% end %>

    <%= f.radio_tab_field :kind, :income do %>
      <%= lucide_icon "plus-circle", class: "w-4 h-4" %>
      <span>Income</span>
    <% end %>

    <%= f.radio_tab_field :kind, :transfer, disabled: true do %>
      <%= lucide_icon "arrow-right-left", class: "w-4 h-4" %>
      <span>Transfer</span>
    <% end %>
  </div>

  <%= f.text_field :name, label: "Description", placeholder: "Describe transaction...", required: true %>

  <%= f.collection_select :account_id, Current.family.accounts, :id, :name, { prompt: "Select an Account", label: "Account" }, required: true %>

  <%= f.money_field :amount_money, label: "Amount", required: true %>

  <% sorted_categories = Current.family.transaction_categories.sort_by { |category| category.id == transaction.category_id ? 0 : 1 } %>
  <%= f.collection_select :category_id, sorted_categories, :id, :name, { prompt: "Select an category", label: "Category" }, required: true %>

  <%= f.date_field :date, label: "Date", required: true %>

  <%= f.submit "Add transaction" %>
<% end %>
