<div class="fixed bottom-6 z-10 flex items-center justify-between rounded-xl bg-gray-900 px-4 text-sm text-white w-[420px] py-1.5">
  <div class="flex items-center gap-2">
    <%= check_box_tag "transaction_selection", 1, true, class: "maybe-checkbox maybe-checkbox--dark", data: { action: "bulk-select#deselectAll" } %>

    <p data-bulk-select-target="selectionBarText">Placeholder selection text</p>
  </div>

  <div class="flex items-center gap-1 text-gray-500">
    <%= button_to "#", disabled: true, class: "cursor-not-allowed p-1.5 group hover:bg-gray-700 flex items-center justify-center rounded-md", title: "Edit" do %>
      <%= lucide_icon "pencil-line", class: "w-5 group-hover:text-white" %>
    <% end %>

    <%= button_to "#", disabled: true, class: "cursor-not-allowed p-1.5 group hover:bg-gray-700 flex items-center justify-center rounded-md", title: "Delete" do %>
      <%= lucide_icon "trash-2", class: "w-5 group-hover:text-white" %>
    <% end %>
  </div>
</div>
