<div class="fixed bottom-30 md:bottom-6 z-10 flex items-center justify-between rounded-xl bg-gray-900 px-4 text-sm text-white md:w-[420px] w-[90%] py-1.5">
  <div class="flex items-center gap-2">
    <%= check_box_tag "entry_selection", 1, true, class: "checkbox checkbox--dark", data: { action: "bulk-select#deselectAll" } %>

    <p data-bulk-select-target="selectionBarText"></p>
  </div>

  <div class="flex items-center gap-1 text-secondary">
    <%= turbo_frame_tag "bulk_transaction_edit_drawer" %>
    <%= link_to new_transactions_bulk_update_path,
                class: "p-1.5 group hover:bg-inverse flex items-center justify-center rounded-md",
                title: "Edit",
                data: { turbo_frame: "bulk_transaction_edit_drawer" } do %>
      <%= icon "pencil-line", class: "group-hover:text-inverse" %>
    <% end %>

    <%= form_with url: transactions_bulk_deletion_path, data: { turbo_confirm: true, turbo_frame: "_top" } do %>
      <button type="button" data-bulk-select-scope-param="bulk_delete" data-action="bulk-select#submitBulkRequest" class="p-1.5 group hover:bg-inverse flex items-center justify-center rounded-md" title="Delete">
        <%= icon "trash-2", class: "group-hover:text-inverse" %>
      </button>
    <% end %>
  </div>
</div>
