<div class="fixed bottom-6 z-10 flex items-center justify-between rounded-xl bg-gray-900 px-4 text-sm text-white w-[420px] py-1.5">
  <div class="flex items-center gap-2">
    <%= check_box_tag "transaction_selection", 1, true, class: "maybe-checkbox maybe-checkbox--dark", data: { action: "bulk-select#deselectAll" } %>

    <p data-bulk-select-target="selectionBarText"></p>
  </div>

  <div class="flex items-center gap-1 text-gray-500">
    <%= turbo_frame_tag "bulk_transaction_edit_drawer" %>

    <%= form_with url: mark_transfers_transactions_path,
                  builder: ActionView::Helpers::FormBuilder,
                  scope: "bulk_update",
                  data: {
                    turbo_confirm: {
                      title: t(".mark_transfers"),
                      body: t(".mark_transfers_message"),
                      accept: t(".mark_transfers_confirm"),
                    }
                  } do |f| %>
      <button type="button" data-bulk-select-scope-param="bulk_update" data-action="bulk-select#submitBulkRequest" class="p-1.5 group hover:bg-gray-700 flex items-center justify-center rounded-md" title="Mark as transfer">
        <%= lucide_icon "arrow-right-left", class: "w-5 group-hover:text-white" %>
      </button>
    <% end %>

    <%= link_to bulk_edit_transactions_path,
                class: "p-1.5 group hover:bg-gray-700 flex items-center justify-center rounded-md",
                title: "Edit",
                data: { turbo_frame: "bulk_transaction_edit_drawer" } do %>
      <%= lucide_icon "pencil-line", class: "w-5 group-hover:text-white" %>
    <% end %>

    <%= form_with url: bulk_delete_transactions_path, builder: ActionView::Helpers::FormBuilder, data: { turbo_confirm: true } do %>
      <button type="button" data-bulk-select-scope-param="bulk_delete" data-action="bulk-select#submitBulkRequest" class="p-1.5 group hover:bg-gray-700 flex items-center justify-center rounded-md" title="Delete">
        <%= lucide_icon "trash-2", class: "w-5 group-hover:text-white" %>
      </button>
    <% end %>
  </div>
</div>
