<%# locals: (entry:, balance_trend: nil, view_ctx: "global") %>

<% transaction = entry.entryable %>

<%= turbo_frame_tag dom_id(entry) do %>
  <%= turbo_frame_tag dom_id(transaction) do %>
    <div class="grid grid-cols-12 items-center text-primary text-sm font-medium p-4 md:p-4
                <%= @focused_record == entry || @focused_record == transaction ?
                    "border border-gray-900 rounded-lg" : "" %>">

      <div class="pr-4 md:pr-10 flex items-center gap-3 md:gap-4
                  <%= balance_trend ? "col-span-8 md:col-span-6" : "col-span-8" %>">
        <%= check_box_tag dom_id(entry, "selection"),
            disabled: transaction.transfer?,
            class: "checkbox checkbox--light",
            data: {
              id: entry.id,
              "bulk-select-target": "row",
              action: "bulk-select#toggleRowSelection"
            } %>

        <div class="max-w-full">
          <%= content_tag :div, class: ["flex items-center gap-2"] do %>
            <% if transaction.merchant&.logo_url.present? %>
              <%= image_tag transaction.merchant.logo_url,
                  class: "w-6 h-6 rounded-full",
                  loading: "lazy" %>
            <% else %>
              <%= render FilledIconComponent.new(
                variant: :text,
                text: entry.name,
                size: "sm",
                rounded: true
              ) %>
            <% end %>

            <div class="truncate">
              <div class="space-y-0.5">
                <div class="flex items-center gap-1">
                  <%= link_to(
                        transaction.transfer? ? transaction.transfer.name : entry.name,
                        transaction.transfer? ? transfer_path(transaction.transfer) : entry_path(entry),
                        data: {
                          turbo_frame: "drawer",
                          turbo_prefetch: false
                        },
                        class: "hover:underline hover:text-gray-800"
                      ) %>

                  <% if entry.excluded %>
                    <span class="text-orange-500" title="One-time <%= entry.amount.negative? ? "income" : "expense" %> (excluded from averages)">
                      <%= icon "asterisk", size: "sm", color: "current" %>
                    </span>
                  <% end %>

                  <% if transaction.transfer? %>
                    <%= render "transactions/transfer_match", transaction: transaction %>
                  <% end %>
                </div>

                <div class="text-secondary text-xs font-normal hidden md:block">
                  <% if transaction.transfer? %>
                    <%= render "transfers/account_links",
                        transfer: transaction.transfer,
                        is_inflow: transaction.transfer_as_inflow.present? %>
                  <% else %>
                    <%= link_to entry.account.name,
                        account_path(entry.account, tab: "transactions", focused_record_id: entry.id),
                        data: { turbo_frame: "_top" },
                        class: "hover:underline" %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="hidden md:flex items-center gap-1 col-span-2">
        <%= render "transactions/transaction_category", transaction: transaction %>
      </div>

      <div class="col-span-4 md:col-span-2 ml-auto text-right">
        <%= content_tag :p,
            transaction.transfer? && view_ctx == "global" ? "+/- #{format_money(entry.amount_money.abs)}" : format_money(-entry.amount_money),
            class: ["text-green-600": entry.amount.negative?] %>
      </div>

      <% if balance_trend %>
        <div class="col-span-2 justify-self-end hidden md:block">
          <% if balance_trend.trend %>
            <%= tag.p format_money(balance_trend.trend.current),
                class: "font-medium text-sm text-primary" %>
          <% else %>
            <%= tag.p "--", class: "font-medium text-sm text-gray-400" %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
