<%= turbo_frame_tag dom_id(transaction), class: "grid grid-cols-12 items-center text-gray-900 py-4 text-sm font-medium px-4" do %>
  <div class="col-span-4 flex items-center gap-4">
    <%= check_box_tag dom_id(transaction, "selection"),
                      class: "maybe-checkbox maybe-checkbox--light",
                      data: { id: transaction.id, "bulk-select-target": "row", action: "bulk-select#toggleRowSelection" } %>

    <div class="max-w-full pr-10">
      <%= render "transactions/name", transaction: transaction %>
    </div>
  </div>

  <div class="col-span-3">
    <%= render "transactions/categories/menu", transaction: transaction %>
  </div>

  <%= link_to transaction.account.name,
              account_path(transaction.account),
              data: { turbo_frame: "_top" },
              class: ["col-span-3 hover:underline"] %>

  <div class="col-span-2 ml-auto">
    <%= render "transactions/amount", transaction: transaction %>
  </div>
<% end %>
