<div class="space-y-4">
  <%= render "header" %>

  <%= render partial: "transactions/summary", locals: { totals: @totals } %>

  <div id="transactions" data-controller="bulk-select" data-bulk-select-resource-value="<%= t(".transaction") %>" class="bg-white rounded-xl border border-alpha-black-25 shadow-xs pb-4">

    <div class="p-4 pb-0">
      <%= render partial: "transactions/searches/search", locals: { transactions: @transactions } %>
    </div>

    <% if @transactions.present? %>
      <div hidden id="transaction-selection-bar" data-bulk-select-target="selectionBar">
        <%= render "selection_bar" %>
      </div>
      <div class="h-[calc(100dvh-370px)] overflow-y-auto px-4 border-y border-alpha-black-100">
        <div class="grid grid-cols-12 bg-gray-25 rounded-xl px-5 py-3 text-xs uppercase font-medium text-gray-500 items-center mb-4">
          <div class="pl-0.5 col-span-4 flex items-center gap-4">
            <%= check_box_tag "selection_transaction",
                              class: "maybe-checkbox maybe-checkbox--light",
                              data: { action: "bulk-select#togglePageSelection" } %>
            <p class="col-span-4">transaction</p>
          </div>

          <p class="col-span-3 pl-4">category</p>
          <p class="col-span-3">account</p>
          <p class="col-span-2 justify-self-end">amount</p>
        </div>
        <div class="space-y-6">
          <% @transactions.group_by(&:date).each do |date, transactions| %>
            <%= render partial: "date_group", locals: { date:, transactions: } %>
          <% end %>
        </div>
      </div>
    <% else %>
      <%= render "empty" %>
    <% end %>

    <div class="px-4">
      <% if @pagy.pages > 1 %>
        <%= render "pagination", pagy: @pagy %>
      <% end %>
    </div>

  </div>
</div>
