<h1 class="text-3xl font-semibold font-display"><%= t(".title") %></h1>
<%= modal do %>
  <div class="flex flex-col min-h-[530px]" data-controller="list-keyboard-navigation">
  <div class="p-4">
  <h1 class="text-2xl">New Transaction </h1>
    <%= form_with model: @transaction do |f| %>
  <div class="flex gap-2 items-center">
    <%= f.radio_button :type, 'expense', checked: true %> Expense
    <%= f.radio_button :type, 'income' %> Income
    <%= f.radio_button :type, 'transfer', class: "cursor-not-allowed", disabled: true %> Transfer
  </div>
  <%= f.collection_select :account_id, Current.family.accounts, :id, :name, { prompt: "Select an Account", label: "Account" } %>
  <%= f.date_field :date, label: "Date" %>
  <%= f.text_field :name, label: "Name", placeholder: "Groceries" %>
  <%= f.collection_select :category_id, Current.family.transaction_categories, :id, :name, { prompt: "Select a category", label: "Category" } %>
  <%= f.text_field :notes, label: "Notes" %>
  <%= f.money_field :amount_money, label: "Amount" %>
  <%= f.submit %>
<% end %>
 
  </div>
</div> 
<% end %> 