<%= sidebar_modal do %>
  <% if false %>
    <div class="mx-auto md:w-2/3 w-full flex">
      <div class="mx-auto">
        <%= render @transaction %>
        <%= link_to "Edit this transaction", edit_transaction_path(@transaction), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        <div class="inline-block ml-2">
          <%= button_to "Destroy this transaction", transaction_path(@transaction), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
        </div>
        <%= link_to "Back to transactions", transactions_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </div>
    </div>
  <% end %>
  <h3 class="text-2xl font-medium mb-1"><%= @transaction.amount %></h3>
  <span class="text-sm"><%= @transaction.date.strftime("%A %d %B") %></span>

  <%= form_with model: @transaction do |f| %>
    <div class="bg-gray-25 rounded-xl p-1 mt-4 mb-2">
      <div class="py-2 px-4 flex items-center justify-between font-medium text-xs text-gray-500">
        Overview
      </div>
    </div>

    <%= f.date_field :date, label: "Date" %>
    <%= f.collection_select :account_id, Current.family.accounts, :id, :name, { prompt: "Select an Account", label: "Account" } %>
  <% end %>

<% end %>
