<%# locals: (rule:) %>

<%= styled_form_with model: rule, class: "space-y-6",
                     data: { controller: "rules", rule_registry_value: rule.registry.to_json } do |f| %>

  <%= f.hidden_field :resource_type, value: rule.resource_type %>

  <% if @rule.errors.any? %>
    <%= render "shared/form_errors", model: @rule %>
  <% end %>

  <section class="space-y-4">
    <div class="flex items-center gap-1 text-secondary">
      <%= icon "tag", size: "sm" %>
      <h3 class="text-sm font-medium text-primary">Rule name (optional)</h3>
    </div>
    <div class="ml-6">
      <%= f.text_field :name, placeholder: "Enter a name for this rule", class: "form-field__input" %>
    </div>
  </section>

  <section class="space-y-4">
    <div class="flex items-center gap-1 text-secondary">
      <h3 class="text-sm font-medium text-primary">IF</h3>
    </div>

    <%# Condition Group template, used by Stimulus controller to add new conditions dynamically %>
    <template data-rules-target="conditionGroupTemplate">
      <%= f.fields_for :conditions, Rule::Condition.new(rule: rule, condition_type: "compound", operator: "and"), child_index: "IDX_PLACEHOLDER" do |cf| %>
        <%= render "rule/conditions/condition_group", form: cf %>
      <% end %>
    </template>

    <%# Condition template, used by Stimulus controller to add new conditions dynamically %>
    <template data-rules-target="conditionTemplate">
      <%= f.fields_for :conditions, Rule::Condition.new(rule: rule, condition_type: rule.condition_filters.first.key), child_index: "IDX_PLACEHOLDER" do |cf| %>
        <%= render "rule/conditions/condition", form: cf %>
      <% end %>
    </template>

    <div class="ml-6 space-y-4">
      <ul data-rules-target="conditionsList" class="space-y-3">
        <%= f.fields_for :conditions do |cf| %>
          <% if cf.object.compound? %>
            <%= render "rule/conditions/condition_group", form: cf %>
          <% else %>
            <%= render "rule/conditions/condition", form: cf %>
          <% end %>
        <% end %>
      </ul>

    <div class="flex items-center gap-2">
      <%= render DS::Button.new(text: "Add condition", icon: "plus", variant: "ghost", type: "button", data: { action: "rules#addCondition" }) %>
      <%= render DS::Button.new(text: "Add condition group", icon: "copy-plus", variant: "ghost", type: "button", data: { action: "rules#addConditionGroup" }) %>
    </div>
  </section>

  <section class="space-y-4">
    <div class="flex items-center gap-1 text-secondary">
      <h3 class="text-sm font-medium text-primary">THEN</h3>
    </div>

    <%# Action template, used by Stimulus controller to add new actions dynamically %>
    <template data-rules-target="actionTemplate">
      <%= f.fields_for :actions, Rule::Action.new(rule: rule, action_type: rule.action_executors.first.key), child_index: "IDX_PLACEHOLDER" do |af| %>
        <%= render "rule/actions/action", form: af %>
      <% end %>
    </template>

    <div class="ml-6 space-y-4">
      <ul data-rules-target="actionsList" class="space-y-3">
        <%= f.fields_for :actions do |af| %>
          <%= render "rule/actions/action", form: af %>
        <% end %>
      </ul>

    <%= render DS::Button.new(text: "Add action", icon: "plus", variant: "ghost", type: "button", data: { action: "rules#addAction" }) %>
  </section>

  <section class="space-y-4">
    <div class="flex items-center gap-1 text-secondary">
      <h3 class="text-sm font-medium text-primary">FOR</h3>
    </div>

    <div class="ml-6 space-y-3">
      <div class="flex items-center gap-2">
        <%= f.radio_button :effective_date_enabled, false, checked: rule.effective_date.nil?, data: { action: "rules#clearEffectiveDate" } %>
        <%= f.label :effective_date_enabled_false, "All past and future #{rule.resource_type}s", class: "text-sm text-primary" %>
      </div>

      <div class="flex items-center gap-2">
        <div class="flex items-center gap-2">
          <%= f.radio_button :effective_date_enabled, true, checked: rule.effective_date.present? %>
          <%= f.label :effective_date_enabled_true, "Starting from", class: "text-sm text-primary" %>
        </div>

        <%= f.date_field :effective_date, container_class: "w-fit", data: { rules_target: "effectiveDateInput" } %>
      </div>
    </div>
  </section>

  <%= f.submit %>
<% end %>
