<%# locals: (rule:) %>

<div class="flex justify-between items-center gap-4 bg-white shadow-border-xs rounded-md p-4">
  <div class="text-sm space-y-1.5">
    <% if rule.name.present? %>
      <h3 class="font-medium text-md text-primary"><%= rule.name %></h3>
    <% end %>

    <% if rule.conditions.any? %>
      <div class="flex items-center gap-2 mt-1">
        <div class="flex items-center gap-1 text-secondary w-16 shrink-0">
          <%= lucide_icon "help-circle", class: "w-4 h-4 shrink-0" %>
          <span class="font-mono text-xs">IF</span>
        </div>
        <p class="flex items-center flex-wrap gap-1.5 m-0">
          <span class="px-2 py-1 border border-secondary rounded-full">
            <% if rule.conditions.first.compound? %>
              <%= rule.conditions.first.sub_conditions.first.filter.label %> <%= rule.conditions.first.sub_conditions.first.operator %> <%= rule.conditions.first.sub_conditions.first.value_display %>
            <% else %>
              <%= rule.conditions.first.filter.label %> <%= rule.conditions.first.operator %> <%= rule.conditions.first.value_display %>
            <% end %>
          </span>
          <% if rule.conditions.count > 1 %>
            and <%= rule.conditions.count - 1 %> more <%= rule.conditions.count - 1 == 1 ? "condition" : "conditions" %>
          <% end %>
        </p>
      </div>
    <% end %>

    <div class="flex items-center gap-2 mt-1">
      <div class="flex items-center gap-1 text-secondary w-16 shrink-0">
        <%= lucide_icon "arrow-right", class: "w-4 h-4 shrink-0" %>
        <span class="font-mono text-xs">THEN</span>
      </div>
      <p class="flex items-center flex-wrap gap-1.5 m-0">
        <span class="px-2 py-1 border border-secondary rounded-full">
          <% if rule.actions.first.value && rule.actions.first.options %>
            <%= rule.actions.first.executor.label %> to <%= rule.actions.first.value_display %>
          <% else %>
            <%= rule.actions.first.executor.label %>
          <% end %>
        </span>
        <% if rule.actions.count > 1 %>
          and <%= rule.actions.count - 1 %> more <%= rule.actions.count - 1 == 1 ? "action" : "actions" %>
        <% end %>
      </p>
    </div>

    <div class="flex items-center gap-2 mt-1">
      <div class="flex items-center gap-1 text-secondary w-16 shrink-0">
        <%= lucide_icon "calendar", class: "w-4 h-4 shrink-0" %>
        <span class="font-mono text-xs">FOR</span>
      </div>
      <p class="flex items-center flex-wrap gap-1.5 m-0">
        <span class="px-2 py-1 border border-secondary rounded-full">
          <% if rule.effective_date.nil? %>
            All past and future <%= rule.resource_type.pluralize %>
          <% else %>
            <%= rule.resource_type.pluralize %> on or after <%= rule.effective_date.strftime('%b %-d, %Y') %>
          <% end %>
        </span>
      </p>
    </div>
  </div>

  <div class="flex items-center gap-4">
    <%= render "shared/toggle_form", model: rule, attribute: :active %>

    <%= contextual_menu icon: "more-vertical", id: "chat-menu" do %>
      <%= contextual_menu_item "Edit", url: edit_rule_path(rule), icon: "pencil", turbo_frame: "modal" %>

      <%= contextual_menu_item "Re-apply rule", url: confirm_rule_path(rule), turbo_frame: "modal", icon: "refresh-cw" %>

      <% turbo_confirm = {
        title: "Delete rule",
        body: "Are you sure you want to delete this rule? Data affected by this rule will no longer be automatically updated. This action cannot be undone.",
        accept: "Delete rule",
      } %>

      <%= contextual_menu_destructive_item "Delete", rule_path(rule), turbo_confirm: turbo_confirm %>
    <% end %>
  </div>
</div>
