<%= modal(reload_on_close: true) do %>
  <div class="space-y-4 p-4 max-w-[400px]">
    <div>
      <div class="flex justify-between mb-2 gap-4">
        <h3 class="font-medium text-md">Confirm changes</h3>
        <%= icon("x", as_button: true, data: { action: "mousedown->modal#close" }) %>
      </div>
      <div class="text-secondary text-sm">
        <p>
          You are about to apply this rule to
          <span class="text-primary font-medium"><%= @rule.affected_resource_count %> <%= @rule.resource_type.pluralize %></span>
          that meet the specified rule criteria.  Please confirm if you wish to proceed with this change.
        </p>
      </div>
    </div>

    <%= render ButtonComponent.new(
      text: "Confirm changes",
      href: apply_rule_path(@rule),
      method: :post,
      full_width: true,
      data: { turbo_frame: "_top" }) %>
  </div>
<% end %>
