<header class="flex items-center justify-between">
  <h1 class="text-primary text-xl font-medium">Rules</h1>

  <div class="flex items-center gap-2">
    <% if @rules.any? %>
      <%= render MenuComponent.new do |menu| %>
        <% menu.with_item(
          variant: "button",
          text: "Delete all rules",
          href: destroy_all_rules_path,
          icon: "trash-2",
          method: :delete,
          confirm: CustomConfirm.for_resource_deletion("All rules", high_severity: true)) %>
      <% end %>
    <% end %>

    <%= render LinkComponent.new(
      text: "New rule",
      variant: "primary",
      href: new_rule_path(resource_type: "transaction"),
      icon: "plus",
      frame: :modal
    ) %>
  </div>
</header>

<% if self_hosted? %>
  <div class="flex items-center gap-2 mb-2 py-4">
    <%= icon("circle-alert", size: "sm") %>
    <p class="text-sm text-secondary">
      AI-enabled rule actions will cost money.  Be sure to filter as narrowly as possible to avoid unnecessary costs.
    </p>
  </div>
<% end %>

<div class="bg-container shadow-border-xs rounded-xl p-4">

  <% if @rules.any? %>
    <div class="rounded-xl bg-gray-25">
      <div class="flex items-center justify-between px-4 py-2 text-xs uppercase">
        <div class="flex items-center gap-1.5 font-medium text-secondary">
          <p>Rules</p>
          <span class="text-subdued">&middot;</span>
          <p><%= @rules.count %></p>
        </div>
        
        <div class="flex items-center gap-1">
          <span class="text-secondary">Sort by:</span>
          <div class="flex items-center">
            <%= link_to rules_path(sort_by: "name", direction: (@sort_by == "name" && @direction == "asc") ? "desc" : "asc"), 
                  class: "px-2 py-1 rounded flex items-center hover:bg-gray-100 #{@sort_by == 'name' ? 'font-medium' : ''}" do %>
              <span class="mr-1">Name</span>
              <% if @sort_by == "name" %>
                <%= icon(@direction == "asc" ? "arrow-up" : "arrow-down", size: "xs") %>
              <% end %>
            <% end %>
          </div>
          <div class="flex items-center">
            <%= link_to rules_path(sort_by: "created_at", direction: (@sort_by == "created_at" && @direction == "asc") ? "desc" : "asc"), 
                  class: "px-2 py-1 rounded flex items-center hover:bg-gray-100 #{@sort_by == 'created_at' ? 'font-medium' : ''}" do %>
              <span class="mr-1">Date</span>
              <% if @sort_by == "created_at" %>
                <%= icon(@direction == "asc" ? "arrow-up" : "arrow-down", size: "xs") %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="space-y-1 p-1">
        <% @rules.each do |rule| %>
          <%= render "rule", rule: rule %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="flex justify-center items-center py-20">
      <div class="text-center flex flex-col items-center max-w-[500px]">
        <p class="text-sm text-primary font-medium mb-1">No rules yet</p>
        <p class="text-sm text-secondary mb-4">Set up rules to perform actions to your transactions and other data on every account sync.</p>
        <div class="flex items-center gap-2">
          <%= render LinkComponent.new(
            text: "New rule",
            variant: "primary",
            href: new_rule_path(resource_type: "transaction"),
            icon: "plus",
            frame: :modal
          ) %>
        </div>
      </div>
    </div>
  <% end %>
</div>
