<%= content_for :title, @issue.title %>

<%= content_for :description do %>
  <p>Some exchange rates are missing for this account.</p>

  <pre><code><%= JSON.pretty_generate(@issue.data) %></code></pre>
<% end %>

<%= content_for :action do %>
  <p>The Synth data provider could not find the requested data.</p>

  <p>We are actively developing Synth to be a low cost and easy to use data provider. You can help us improve Synth by
    requesting the data you need.</p>

  <p>Please post in our <%= link_to "Discord server", "https://link.maybe.co/discord", target: "_blank" %> with the
    following information:</p>

  <ul>
    <li>What type of data is missing?</li>
    <li>Any other information you think might be helpful</li>
  </ul>
<% end %>