<%# locals: (entry:, balance_trend: nil, **) %>

<% trade = entry.entryable %>

<%= turbo_frame_tag dom_id(entry) do %>
  <%= turbo_frame_tag dom_id(trade) do %>
    <div class="grid grid-cols-12 items-center <%= entry.excluded ? "text-gray-400 bg-gray-25" : "text-primary" %> text-sm font-medium p-4">
      <div class="col-span-6 flex items-center gap-4">
        <%= check_box_tag dom_id(entry, "selection"),
                        class: "checkbox checkbox--light",
                        data: { id: entry.id, "bulk-select-target": "row", action: "bulk-select#toggleRowSelection" } %>

        <div class="max-w-full">
          <%= tag.div class: ["flex items-center gap-2"] do %>
            <%= render FilledIconComponent.new(
              variant: :text,
              text: entry.name,
              size: "sm",
              rounded: true
            ) %>

            <div class="truncate">
              <%= link_to entry.name,
                        entry_path(entry),
                        data: { turbo_frame: "drawer", turbo_prefetch: false },
                        class: "hover:underline hover:text-gray-800" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-span-2 flex items-center">
        <%= render "categories/badge", category: trade_category %>
      </div>

      <div class="col-span-2 justify-self-end font-medium text-sm">
        <%= content_tag :p,
                    format_money(-entry.amount_money),
                    class: ["text-green-600": entry.amount.negative?] %>
      </div>

      <div class="col-span-2 justify-self-end">
        <% if balance_trend&.trend %>
          <div class="flex items-center gap-2">
            <%= tag.p format_money(balance_trend.trend.current), class: "font-medium text-sm text-primary" %>
          </div>
        <% else %>
          <%= tag.p "--", class: "font-medium text-sm text-gray-400" %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
