<!DOCTYPE html>
<html class="h-full bg-black">
  <head>
    <title>Maybe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="h-full text-white">
    <div>
      <div class="lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
        <div class="flex flex-col px-6 overflow-y-auto bg-gray-800 grow gap-y-5">
          <div class="flex items-center h-16 shrink-0">
            <%= image_tag "logo-color-dark.svg", class: 'w-auto h-5' %>
          </div>

          <%= render "shared/sidebar_portfolios" %>

          <div class="mt-auto -mx-6">
            <a href="#" class="flex items-center px-6 py-3 text-sm font-semibold leading-6 text-gray-900 gap-x-4 hover:bg-gray-50">
              <span class="sr-only">Your profile</span>
              <span aria-hidden="true"><%= current_user.email %></span>
            </a>
          </div>
        </div>
      </div>

      <main class="lg:pl-72">
        <div class="xl:pr-96">
          <div class="px-4 py-10 sm:px-6 lg:px-8 lg:py-6">
            <%= yield %>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
