<%= render "layouts/shared/htmldoc" do %>
  <%= render AppLayoutComponent.new(user: Current.user) do |app_layout| %>
    <% app_layout.with_nav_items([
      { name: "Home", path: root_path, icon: "pie-chart", active: page_active?(root_path) },
      { name: "Transactions", path: transactions_path, icon: "credit-card", active: page_active?(transactions_path) },
      { name: "Budgets", path: budgets_path, icon: "map", active: page_active?(budgets_path) },
      { name: "Assistant", path: chats_path, icon: "icon-assistant", icon_custom: true, active: page_active?(chats_path), mobile_only: true }
    ]) %>

    <% app_layout.with_mobile_sidebar do %>
      <%= render(
        "accounts/account_sidebar_tabs",
        family: Current.family,
        active_account_group_tab: params[:account_group_tab] || "assets"
      ) %>
    <% end %>

    <% app_layout.with_mobile_user_menu do %>
      <%= render "users/user_menu", user: Current.user, placement: "bottom-end", offset: 12 %>
    <% end %>

    <% app_layout.with_desktop_user_menu do %>
      <%= render "users/user_menu", user: Current.user %>
    <% end %>

    <% app_layout.with_left_sidebar do %>
      <% if content_for?(:sidebar) %>
        <%= yield :sidebar %>
      <% else %>
        <div id="account-sidebar-tabs" data-turbo-permanent>
          <%= render "accounts/account_sidebar_tabs", family: Current.family, active_account_group_tab: params[:account_group_tab] || "assets" %>
        </div>
      <% end %>
    <% end %>

    <% app_layout.with_right_sidebar do %>
      <%= tag.div id: "chat-container",
                class: class_names("flex flex-col h-full justify-between shrink-0 transition-all duration-300"),
                data: { controller: "chat hotkey", turbo_permanent: true } do %>

        <% if Current.user.ai_enabled? %>
          <%= turbo_frame_tag chat_frame, src: chat_view_path(@chat), loading: "lazy", class: "h-full" do %>
            <div class="flex justify-center items-center h-full">
              <%= icon("loader-circle", class: "animate-spin") %>
            </div>
          <% end %>
        <% else %>
          <%= render "chats/ai_consent" %>
        <% end %>
      <% end %>
    <% end %>

    <% app_layout.with_breadcrumbs do %>
      <% if content_for?(:breadcrumbs) %>
        <%= yield :breadcrumbs %>
      <% else %>
        <%= render "layouts/shared/breadcrumbs", breadcrumbs: @breadcrumbs %>
      <% end %>
    <% end %>

    <%# Main page content  %>
    <div>
      <% if content_for?(:page_header) %>
        <%= yield :page_header %>
      <% end %>

      <%= yield %>
    </div>
  <% end %>
<% end %>
