<!DOCTYPE html>
<html class="h-full bg-gray-25">
  <head>
    <title><%= content_for(:title) || "Maybe" %></title>
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Maybe">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
    <%= yield :head %>
  </head>
  <body class="h-full">
    <div id="notification-tray" class="fixed z-50 space-y-1 top-6 right-6"></div>
    <%= safe_join(flash.map { |type, message| notification(message, type: type) }) %>
    <div class="flex h-full">
      <div class="p-6 pb-20 w-80 shrink-0 h-full overflow-y-auto">
        <% if content_for?(:sidebar) %>
          <%= yield :sidebar %>
        <% else %>
          <%= render "layouts/sidebar" %>
        <% end %>
      </div>
      <main class="grow px-20 pt-6 pb-32 h-full overflow-y-auto">
        <%= yield %>
      </main>
    </div>
    <%= turbo_frame_tag "modal" %>
    <%= render "shared/custom_confirm_modal" %>
    <%= render "shared/upgrade_notification" %>
    <% if self_hosted? %>
      <div class="flex items-center py-0.5 px-0.5 gap-1 fixed bottom-2 right-2 shadow-xs border border-alpha-black-50 rounded-md bg-white">
        <p class="text-xs text-gray-500 pl-2">Self-hosted Maybe: <%= Maybe.version.to_release_tag %></p>
        <%= link_to settings_hosting_path, class: "flex gap-1 items-center hover:bg-gray-50 rounded-md p-2" do %>
          <%= lucide_icon("settings", class: "w-4 h-4 text-gray-500 shrink-0") %>
        <% end %>
      </div>
    <% end %>
  </body>
</html>
