<!DOCTYPE html>
<html class="h-full bg-white">
  <head>
    <title>Maybe</title>
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Maybe">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="h-full">
    <div class="flex flex-col justify-center min-h-full px-6 py-12">

      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <%= render "shared/logo" %>

        <h2 class="mt-6 text-3xl font-semibold tracking-tight text-center font-display">
          <%= content_for?(:header_title) ? yield(:header_title).html_safe : "Your account" %>
        </h2>

        <% if params[:controller] == "devise/sessions" && params[:action] == "new" %>
        <p class="mt-2 text-sm text-center text-gray-600">
          or <%= link_to "create an account", new_user_registration_path, class: 'font-medium text-candlelight-600 hover:text-candlelight-500' %>
        </p>
        <% elsif params[:controller] == "devise/registrations" && params[:action] == "new" %>
        <p class="mt-2 text-sm text-center text-gray-600">
          or <%= link_to "sign in to your account", new_user_session_path, class: 'font-medium text-candlelight-600 hover:text-candlelight-500' %>
        </p>
        <% end %>

      </div>

      <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-lg">
        <%= yield %>
      </div>

      <div class="p-8 mt-2 text-center">
        <p class="mt-6 text-sm text-black"><a href="/privacy" class="text-black opacity-90">Privacy Policy</a> &bull; <a href="/terms" class="text-black opacity-90">Terms of Service</a></p>
      </div>

    </div>
  </body>
</html>
