<!DOCTYPE html>
<html class="h-full bg-gray-50">
  <head>
    <title>Maybe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="h-full">
    <div class="flex flex-col justify-center min-h-full px-6 py-12 lg:px-8">

      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <%= yield %>
      </div>

    </div>

  </body>
</html>
