<%= render "layouts/shared/htmldoc" do %>
  <div class="flex flex-col h-dvh bg-container">
    <header class="flex items-center justify-between p-4 sm:p-8">
      <%= link_to content_for(:previous_path) || imports_path do %>
        <% if controller_name == 'uploads' %>
          <%= image_tag "logomark-color.svg", class: "w-9 h-9 mx-auto" %>
        <% else %>
          <%= lucide_icon "arrow-left", class: "w-5 h-5 text-secondary" %>
        <% end %>
      <% end %>

      <nav>
        <%= yield :header_nav %>
      </nav>

      <%= link_to imports_path do %>
        <%= lucide_icon "x", class: "text-secondary w-5 h-5" %>
      <% end %>
    </header>

    <% if content_for?(:mobile_nav) %>
      <div class="sm:hidden flex justify-center w-full">
        <%= yield :mobile_nav %>
      </div>
    <% end %>

    <main class="grow px-4 sm:px-8 pt-12 pb-32 overflow-y-auto">
      <%= yield %>
    </main>
  </div>
<% end %>
