<%= render "layouts/shared/htmldoc" do %>
  <div class="flex flex-col h-dvh bg-surface">
    <header class="flex items-center justify-between p-8">
      <%= link_to content_for(:previous_path) || imports_path do %>
        <%= lucide_icon "arrow-left", class: "w-5 h-5 text-secondary" %>
      <% end %>

      <nav>
        <%= yield :header_nav %>
      </nav>

      <%= link_to imports_path do %>
        <%= lucide_icon "x", class: "text-secondary w-5 h-5" %>
      <% end %>
    </header>

    <main class="grow px-4 sm:px-8 pt-12 pb-10 sm:pb-32 overflow-y-auto">
      <%= yield :mobile_nav %>
      <%= yield %>
    </main>
  </div>
<% end %>
