<%= content_for :content do %>
  <div class="flex items-center justify-between">
    <%= link_to root_path do %>
      <%= image_tag "logo.svg", alt: "Maybe", class: "h-[22px]" %>
    <% end %>
    <nav>
      <%= content_for :nav %>
    </nav>
    <%= link_to "Back", content_for(:return_to_path) %>
  </div>

  <%= yield %>
<% end %>

<%= render template: "layouts/application" %>