<%= content_for :content do %>
  <div class="flex items-center justify-between p-8">
    <%= link_to root_path do %>
      <%= image_tag "logo.svg", alt: "Maybe", class: "h-[22px]" %>
    <% end %>
    <nav>
      <div>
        <ul class="flex items-center gap-2">
          <li>Import step placeholder</li>
        </ul>
      </div>
    </nav>
    <%= link_to content_for(:return_to_path) do %>
      <%= lucide_icon("x", class: "text-gray-500 w-8 h-8 hover:bg-gray-100 rounded-full p-2") %>
    <% end %>
  </div>

  <%= yield %>
<% end %>

<%= render template: "layouts/application" %>
