<%= render "layouts/shared/htmldoc" do %>
  <div class="flex h-full bg-gray-25">
    <div class="p-4 w-[260px] shrink-0 h-full overflow-y-auto">
      <%= render "settings/settings_nav" %>
    </div>

    <main class="container mx-auto px-10 py-6 flex h-full">
      <div class="flex flex-col w-full">
        <h1 class="text-primary text-xl font-medium flex-none">
          <%= content_for :page_title %>
        </h1>

        <div class="flex-1 overflow-y-auto min-h-0 py-4 space-y-4">
          <%= yield %>
        </div>

        <div class="flex-none mt-4">
          <%= settings_nav_footer %>
        </div>
      </div>
    </main>
  </div>
<% end %>
