<%= content_for :content do %>
  <div class="flex h-full bg-gray-25">
    <div class="p-6 pb-20 w-[368px] shrink-0 h-full overflow-y-auto">
      <% if content_for?(:sidebar) %>
        <%= yield :sidebar %>
      <% else %>
        <%= render "layouts/sidebar" %>
      <% end %>
    </div>

    <main class="grow py-6 h-full <%= require_upgrade? ? "relative overflow-hidden" : "overflow-y-auto" %>">
      <% if require_upgrade? %>
        <%= render "shared/subscribe_modal" %>
      <% end %>

      <%= yield %>
    </main>
    <% if ENV.fetch("OPENAI_ACCESS_TOKEN", nil).present? %>
      <div class="px-5 py-6 h-full">
        <div class="w-[350px] h-full shrink-0 overflow-y-auto bg-white border border-alpha-black-25 shadow-xs rounded-xl py-4 px-3">
          <%= render "chats/chats" %>
        </div>
      </div>
    <% end %>
  </div>

  <% if (upgrade = get_upgrade_for_notification(Current.user, Setting.upgrades_mode)) %>
    <%= render partial: "shared/upgrade_notification", locals: { upgrade: upgrade } %>
  <% end %>
<% end %>

<%= render template: "layouts/application" %>
