<%= render "layouts/shared/htmldoc" do %>
  <div class="bg-container flex flex-col h-dvh pt-safe">
    <header class="flex items-center justify-between p-8">
      <%= render LinkComponent.new(
        variant: "icon",
        icon: "arrow-left",
        href: content_for(:previous_path) || root_path
      ) %>

      <nav>
        <%= yield :header_nav %>
      </nav>

      <%= render LinkComponent.new(
        variant: "icon",
        icon: "x",
        href: content_for(:cancel_path) || root_path
      ) %>
    </header>

    <main class="grow px-8 pt-12 pb-32 overflow-y-auto">
      <%= yield %>
    </main>
  </div>
<% end %>
