<!DOCTYPE html>
<html class="h-full <%= @os %>" lang="en">
  <%= render "layouts/shared/head" %>

  <body class="h-full">
    <%= render "layouts/shared/notifications" %>
    <%= render "layouts/shared/fixed_content" %>

    <div class="flex flex-col h-dvh">
      <header class="flex items-center justify-between p-8">
        <%= link_to content_for(:previous_path) || root_path do %>
          <%= lucide_icon "arrow-left", class: "w-5 h-5 text-gray-500" %>
        <% end %>

        <nav>
          <%= yield :header_nav %>
        </nav>

        <%= link_to content_for(:cancel_path) || root_path do %>
          <%= lucide_icon "x", class: "text-gray-500 w-5 h-5" %>
        <% end %>
      </header>

      <main class="grow px-8 pt-12 pb-32 overflow-y-auto">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
