<%= render "layouts/shared/htmldoc" do %>
  <div class="bg-container flex flex-col h-dvh pt-safe">
    <header class="flex items-center justify-between p-8">
      <%= link_to content_for(:previous_path) || root_path do %>
        <%= lucide_icon "arrow-left", class: "w-5 h-5 text-secondary" %>
      <% end %>

      <nav>
        <%= yield :header_nav %>
      </nav>

      <%= link_to content_for(:cancel_path) || root_path do %>
        <%= lucide_icon "x", class: "text-secondary w-5 h-5" %>
      <% end %>
    </header>

    <main class="grow px-8 pt-12 pb-32 overflow-y-auto">
      <%= yield %>
    </main>
  </div>
<% end %>
