<%# locals: (account:, return_to: nil) %>

<%= turbo_frame_tag dom_id(account) do %>
  <div class="p-4 flex items-center justify-between gap-3 group/account">
    <div class="flex items-center gap-3">
      <%= render "accounts/logo", account: account, size: "md" %>

      <div>
        <% if account.scheduled_for_deletion? %>
          <p class="text-sm font-medium text-primary">
            <span>
              <%= account.name %>
            </span>
            <span class="text-red-500 animate-pulse">
              (deletion in progress...)
            </span>
          </p>
        <% else %>
          <%= link_to account.name, account, class: [(account.is_active ? "text-primary" : "text-subdued"), "text-sm font-medium hover:underline"], data: { turbo_frame: "_top" } %>
        <% end %>
      </div>

      <% unless account.scheduled_for_deletion? %>
        <%= link_to edit_account_path(account, return_to: return_to), data: { turbo_frame: :modal }, class: "group-hover/account:flex hidden hover:opacity-80 items-center justify-center" do %>
          <%= lucide_icon "pencil-line", class: "w-4 h-4 text-secondary" %>
        <% end %>
      <% end %>
    </div>
    <div class="flex items-center gap-8">
      <p class="text-sm font-medium <%= account.is_active ? "text-primary" : "text-subdued" %>">
        <%= format_money account.balance_money %>
      </p>

      <% unless account.scheduled_for_deletion? %>
        <%= form_with model: account,
                    namespace: account.id,
                    data: { controller: "auto-submit-form", turbo_frame: "_top" } do |form| %>
          <div class="relative inline-block select-none">
            <%= form.check_box :is_active, { class: "sr-only peer", data: { "auto-submit-form-target": "auto" } } %>
            <%= form.label :is_active, "&nbsp;".html_safe, class: "switch" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
