<%# locals: (account:, url:) %>

<%= styled_form_with model: account, url: url, scope: :account, class: "flex flex-col gap-4 justify-between grow" do |form| %>
  <div class="grow space-y-2">
    <%= form.hidden_field :accountable_type %>

    <% if account.new_record? %>
      <%= form.hidden_field :institution_id %>
    <% else %>
      <%= form.collection_select :institution_id, Current.family.institutions.alphabetically, :id, :name, { include_blank: t(".ungrouped"), label: t(".institution") } %>
    <% end %>

    <%= form.text_field :name, placeholder: t(".name_placeholder"), required: "required", label: t(".name_label") %>
    <%= form.money_field :balance, label: t(".balance"), required: true, default_currency: Current.family.currency %>

    <%= yield form %>
  </div>

  <%= form.submit %>
<% end %>
