<%# locals: (account:) -%>
<div data-controller="tooltip" data-tooltip-target="element" data-tooltip-placement-value="right" data-tooltip-offset-value="[40, 10]" data-action="mouseenter->tooltip#show mouseleave->tooltip#hide">
  <%= lucide_icon("info", class: "w-4 h-4 shrink-0 text-gray-500") %>
  <div id="tooltip" role="tooltip" data-tooltip-target="tooltip" class="bg-gray-700 text-sm p-2 rounded w-64">
    <div class="text-white">
      <%= t(".total_value_tooltip") %>
    </div>
    <div class="flex pt-3">
      <div class="text-gray-300">
        <%= t(".holdings") %>
      </div>
      <div class="text-white ml-auto">
        <%= tag.p format_money(account.investment.holdings_value, precision: 0) %>
      </div>
    </div>
    <div class="flex">
      <div class="text-gray-300">
        <%= t(".cash") %>
      </div>
      <div class="text-white ml-auto">
        <%= tag.p format_money(account.balance_money, precision: 0) %>
      </div>
    </div>
  </div>
  <div id="arrow" data-tooltip-arrow></div>
</div>
