<% series = @account.balance_series(period: @period, view: @chart_view) %>
<% trend = series.trend %>

<%= turbo_frame_tag dom_id(@account, :chart_details) do %>
  <div class="px-4">
    <% if trend.direction.flat? %>
      <%= tag.span t(".no_change"), class: "text-secondary" %>
    <% else %>
      <%= tag.span "#{trend.value.positive? ? "+" : ""}#{format_money(trend.value)}", style: "color: #{trend.color}" %>
      <% unless trend.percent.infinite? %>
        <%= tag.span "(#{trend.percent}%)", style: "color: #{trend.color}" %>
      <% end %>
    <% end %>

    <%= tag.span @period.comparison_label, class: "text-secondary" %>
  </div>

  <div class="h-64 pb-4">
    <% if series.any? %>
      <div
        id="lineChart"
        class="w-full h-full"
        data-controller="time-series-chart"
        data-time-series-chart-data-value="<%= series.to_json %>"></div>
    <% else %>
      <div class="w-full h-full flex items-center justify-center">
        <p class="text-secondary text-sm">No data available for the selected period.</p>
      </div>
    <% end %>
  </div>
<% end %>
