<header class="flex justify-between items-center text-primary font-medium">
  <h1 class="text-xl"><%= t(".accounts") %></h1>
  <div class="flex items-center gap-5">
    <div class="flex items-center gap-2">
      <%= button_to sync_all_accounts_path,
                      disabled: Current.family.syncing?,
                      class: "md:btn md:btn--outline flex items-center justify-center gap-2 w-9 h-9 md:w-auto md:h-auto rounded-full md:rounded-lg",
                      title: t(".sync") do %>
        <%= lucide_icon "refresh-cw", class: "w-5 h-5" %>
        <span class="hidden md:inline"><%= t(".sync") %></span>
      <% end %>

      <%= link_to new_account_path(return_to: accounts_path),
                    data: { turbo_frame: "modal" },
                    class: "btn btn--primary flex items-center justify-center gap-1 w-9 h-9 md:w-auto md:h-auto rounded-full md:rounded-lg" do %>
        <div class="flex items-center justify-center w-5 h-5">

        <%= lucide_icon("plus") %>
                    </div>
        <p class="hidden md:block text-sm font-medium"><%= t(".new_account") %></p>
      <% end %>
    </div>
  </div>
</header>

<% if @manual_accounts.empty? && @plaid_items.empty? %>
  <%= render "empty" %>
<% else %>
  <div class="space-y-2">
    <% if @plaid_items.any? %>
      <%= render @plaid_items.sort_by(&:created_at) %>
    <% end %>

    <% if @manual_accounts.any? %>
      <%= render "accounts/index/manual_accounts", accounts: @manual_accounts %>
    <% end %>
  </div>
<% end %>
