<%= render layout: "accounts/new/container", locals: { title: t(".title") } do %>
  <div class="text-sm">
    <%= render "account_type", accountable: Depository.new %>
    <%= render "account_type", accountable: Investment.new %>
    <%= render "account_type", accountable: Crypto.new %>
    <%= render "account_type", accountable: Property.new %>
    <%= render "account_type", accountable: Vehicle.new %>
    <%= render "account_type", accountable: CreditCard.new %>
    <%= render "account_type", accountable: Loan.new %>
    <%= render "account_type", accountable: OtherAsset.new %>
    <%= render "account_type", accountable: OtherLiability.new %>
  </div>
<% end %>
