<%= render layout: "accounts/new/container", locals: { title: t(".title") } do %>
  <div class="text-sm">
    <div data-list-filter-target="list" class="flex flex-col gap-0.5">
      <div class="pb-2 pl-4 mr-2 text-secondary hidden" data-list-filter-target="emptyMessage">
        No account types found
      </div>
      <% unless params[:classification] == "liability" %>
        <%= render "account_type", accountable: Depository.new %>
        <%= render "account_type", accountable: Investment.new %>
        <%= render "account_type", accountable: Crypto.new %>
        <%= render "account_type", accountable: Property.new %>
        <%= render "account_type", accountable: Vehicle.new %>
      <% end %>

      <% unless params[:classification] == "asset" %>
        <%= render "account_type", accountable: CreditCard.new %>
        <%= render "account_type", accountable: Loan.new %>
      <% end %>

      <% unless params[:classification] == "liability" %>
        <%= render "account_type", accountable: OtherAsset.new %>
      <% end %>

      <% unless params[:classification] == "asset" %>
        <%= render "account_type", accountable: OtherLiability.new %>
      <% end %>

      <% unless params[:return_to].present? %>
        <%= button_to imports_path(import: { type: "AccountImport" }),
              class: "flex items-center gap-4 w-full text-center focus:outline-hidden focus:bg-alpha-black-25 hover:bg-alpha-black-25 border border-transparent block px-2 rounded-lg p-2 filterable-item",
              data: { turbo_frame: :_top, list_filter_target: "filterable", filter_name: t("accounts.new.import_accounts").downcase } do %>
          <span style="background-color: color-mix(in srgb, #F79009 10%, white);" class="flex w-8 h-8 shrink-0 grow-0 items-center justify-center rounded-lg border border-alpha-black-25">
            <%= lucide_icon("download", style: "color: #F79009", class: "w-5 h-5") %>
          </span>
          <%= t("accounts.new.import_accounts") %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
