<div class="relative flex items-center mb-5 space-x-2">
    <%= link_to new_account_path, class: "" do %>
      <%= inline_svg_tag('icon-arrow-left.svg', class: 'text-gray-500 fill-current') %>
    <% end %>
  <h2 class="text-2xl font-semibold font-display">Enter credit card account</h2>
</div>

<%= form_with model: @account, url: accounts_path, scope: :account, html: { class: "space-y-4" } do |f| %>
  <%= f.hidden_field :type, value: "Credit" %>
  
  <div class="relative p-4 border border-gray-100 bg-offwhite rounded-xl focus-within:bg-white focus-within:shadow focus-within:opacity-100">
    <%# <span class="absolute px-2 py-1 text-xs font-medium text-gray-400 uppercase bg-gray-200 rounded-full opacity-50 right-3">Optional</span> %>
    <label for="account_name" class="block text-sm font-medium opacity-50 focus-within:opacity-100">Name</label>
    <%= f.text_field :name, placeholder: "Account name", required: 'required', class: "p-0 mt-1 bg-transparent border-none opacity-50 focus:outline-none focus:ring-0 focus-within:opacity-100" %>
  </div>

  <div class="relative p-4 border border-gray-100 bg-offwhite rounded-xl focus-within:bg-white focus-within:shadow focus-within:opacity-100">
    <span class="absolute px-2 py-1 text-xs font-medium text-gray-400 uppercase bg-gray-200 rounded-full opacity-50 right-3">Optional</span>
    <label for="credit_limit" class="block text-sm font-medium opacity-50 focus-within:opacity-100">Limit</label>
    <div class="flex">
      <%= f.number_field :credit_limit, placeholder: "$0.00", in: 0.00..100000000.00, class: "p-0 mt-1 bg-transparent border-none opacity-50 focus:outline-none focus:ring-0 focus-within:opacity-100" %>
    </div>
  </div>

  <div class="relative p-4 border border-gray-100 bg-offwhite rounded-xl focus-within:bg-white focus-within:shadow focus-within:opacity-100">
    <label for="account_name" class="block text-sm font-medium opacity-50 focus-within:opacity-100">Balance</label>
    <div class="flex">
      <%= f.number_field :balance, placeholder: "$0.00", in: 0.00..100000000.00, required: 'required', class: "p-0 mt-1 bg-transparent border-none opacity-50 focus:outline-none focus:ring-0 focus-within:opacity-100" %>
    </div>
  </div>

  <div class="absolute right-5 bottom-5">
    <button type="submit" class="flex items-center justify-center w-12 h-12 mb-2 bg-black rounded-full shrink-0 grow-0 hover:bg-gray-600">
        <%= inline_svg_tag('icn-check.svg', class: 'text-white fill-current') %>
    </button>
  </div>
<% end %>