<% balances = @account.balances_with_trend %>
<% balance_styles = trend_styles(balances[:trend].direction) %>
<div class="space-y-4">
  <div class="flex justify-between items-center">
    <div class="flex items-center gap-3">
      <div class="bg-green-600/10 rounded-full h-8 w-8 flex items-center justify-center">
        <span class="text-green-600"><%= @account.name[0].upcase %></span>
      </div>
      <h2 class="font-medium text-xl"><%= @account.name %></h2>
    </div>
    <div class="flex items-center gap-3">
      <div class="relative cursor-not-allowed">
        <div class="flex items-center gap-2 px-3 py-2">
          <span class="text-gray-900">USD $</span>
          <%= lucide_icon("chevron-down", class: "w-5 h-5 text-gray-500") %>
        </div>
      </div>
      <div class="cursor-not-allowed">
        <%= lucide_icon("more-horizontal", class: "w-5 h-5 text-gray-500") %>
      </div>
    </div>
  </div>
  <div class="bg-white shadow-xs rounded-xl border border-alpha-black-25 rounded-lg">
    <div class="p-4 flex justify-between">
      <div class="space-y-2">
        <p class="text-sm text-gray-500">Total Value</p>
        <%# TODO: Will need a better way to split a formatted monetary value into these 3 parts %>
        <p class="text-gray-900">
          <span class="text-gray-500"><%= number_to_currency(@account.converted_balance)[0] %></span>
          <span class="text-xl font-medium"><%= number_with_delimiter(@account.converted_balance.round) %></span>
          <span class="text-gray-500">.<%= number_to_currency(@account.converted_balance, precision: 2)[-2, 2] %></span>
        </p>
        <% if balances[:trend].amount == 0 %>
          <p class="text-sm text-gray-500">No change vs. prior period</p>
        <% else %>
          <p class="text-sm <%= balance_styles[:text_class] %>">
            <span><%= balance_styles[:symbol] %><%= number_to_currency(balances[:trend].amount.abs, precision: 2) %></span>
            <span>(<%= lucide_icon(balances[:trend].amount > 0 ? 'arrow-up' : 'arrow-down', class: "w-4 h-4 align-text-bottom inline") %> <%= balances[:trend].percent %>%)</span>
            <span class="text-gray-500"><%= trend_label(balances[:date_range]) %></span>
          </p>
        <% end %>
      </div>
      <div class="relative">
        <div class="flex items-center text-sm gap-2 p-2 border border-alpha-black-100 shadow-xs rounded-lg cursor-not-allowed">
          <span class="text-gray-900 pl-1">1M</span>
          <%= lucide_icon("chevron-down", class: "w-5 h-5 text-gray-500") %>
        </div>
      </div>
    </div>
    <div class="h-96 flex items-center justify-center text-2xl font-bold">
      <div data-controller="line-chart" id="lineChart" class="w-full h-full" data-line-chart-series-value="<%= balances[:series].map { |b| b.merge(trend: { amount: b[:trend].amount, direction: b[:trend].direction, percent: b[:trend].percent }) }.to_json %>"></div>
    </div>
  </div>
  <div class="bg-white space-y-4 p-5 border border-alpha-black-25 rounded-xl shadow-xs">
    <div class="flex justify-between items-center">
      <h3 class="font-medium text-lg">History</h3>
      <%= link_to new_account_valuation_path(@account), data: { turbo_frame: dom_id(Valuation.new) }, class: "flex gap-1 font-medium items-center bg-gray-50 text-gray-900 p-2 rounded-lg" do %>
        <%= lucide_icon("plus", class: "w-5 h-5 text-gray-900") %>
        <span class="text-sm">New entry</span>
      <% end %>
    </div>
    <div class="rounded-xl bg-gray-25 p-1">
      <div class="flex flex-col rounded-lg space-y-1">
        <div class="flex justify-between gap-10 text-xs font-medium text-gray-500 uppercase py-2">
          <div class="ml-4 flex-1">DATE</div>
          <div class="flex-1 text-right">VALUE</div>
          <div class="flex-1 text-right">CHANGE</div>
          <div class="w-12"></div>
        </div>
        <div class="rounded-lg py-2 bg-white border-alpha-black-25 shadow-xs">
          <% series = @account.valuations_with_trend[:series].reverse_each %>
          <% series.with_index do |valuation, index| %>
            <% valuation_styles = trend_styles(valuation[:trend].direction) %>
            <%= turbo_frame_tag dom_id(valuation[:current]) do %>
              <div class="p-4 flex items-center justify-between gap-10 w-full">
                <div class="flex-1 flex items-center gap-4">
                  <div class="w-8 h-8 rounded-full p-1.5 flex items-center justify-center <%= valuation_styles[:bg_class] %>">
                    <%= lucide_icon(valuation_styles[:icon], class: "w-4 h-4 #{valuation_styles[:text_class]}") %>
                  </div>
                  <div class="text-sm">
                    <p><%= valuation[:date] %></p>
                    <%# TODO: Add descriptive name of valuation %>
                    <p class="text-gray-500">Manually entered</p>
                  </div>
                </div>
                <div class="flex-1 text-sm font-medium text-right"><%= format_currency(valuation[:value]) %></div>
                <div class="flex-1 text-right text-sm font-medium">
                  <% if valuation[:trend].amount == 0 %>
                    <span class="text-gray-500">No change</span>
                  <% else %>
                    <span class="<%= valuation_styles[:text_class] %>"><%= valuation_styles[:symbol] %><%= format_currency(valuation[:trend].amount.abs) %></span>
                    <span class="<%= valuation_styles[:text_class] %>">(<%= lucide_icon(valuation_styles[:icon], class: "w-4 h-4 align-text-bottom inline") %> <%= valuation[:trend].percent %>%)</span>
                  <% end %>
                </div>
                <div class="relative w-8" data-controller="dropdown">
                  <button data-action="click->dropdown#toggleMenu" class="flex items-center justify-center hover:bg-gray-50 w-8 h-8 rounded-lg">
                    <%= lucide_icon("more-horizontal", class: "w-5 h-5 text-gray-500" ) %>
                  </button>
                  <div class="hidden absolute min-w-[200px] z-10 top-10 right-0 bg-white p-1 rounded-sm shadow-xs border border-alpha-black-25 w-fit" data-dropdown-target="menu">
                    <%= link_to edit_valuation_path(valuation[:current]), class: "flex gap-1 items-center hover:bg-gray-50 rounded-md p-2" do %>
                      <%= lucide_icon("pencil-line", class: "w-5 h-5 text-gray-500 shrink-0") %>
                      <span class="text-gray-900 text-sm">Edit entry</span>
                    <% end %>
                    <%= link_to valuation_path(valuation[:current]),  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-red-600 flex gap-1 items-center hover:bg-gray-50 rounded-md p-2" do %>
                      <%= lucide_icon("trash-2", class: "w-5 h-5 shrink-0") %>
                      <span class="text-sm">Delete entry</span>
                    <% end %>
                  </div>
                </div>
              </div>
              <div>
                <% if index < series.size - 1 %>
                  <div class="h-px bg-alpha-black-50 mr-6 ml-16"></div>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <%= turbo_frame_tag dom_id(Valuation.new) do %>
          <% end %>
        </div>
      </div>
      <%= link_to new_account_valuation_path(@account), data: { turbo_frame: "new_valuation" }, class: "hover:bg-white w-full text-sm flex items-center justify-center gap-2 text-gray-500 px-4 py-2 rounded-md" do %>
        <%= lucide_icon("plus", class: "w-4 h-4") %> New entry
      <% end %>
    </div>
  </div>
</div>
