<%# locals: (entry:) %>

<%= form_with model: [entry.account, entry],
              data: { turbo_frame: "_top" },
              url: entry.new_record? ? account_valuations_path(entry.account) : account_entry_path(entry.account, entry) do |f| %>
  <div class="grid grid-cols-10 p-4 items-center">
    <div class="col-span-7 flex items-center gap-4">
      <div class="w-8 h-8 rounded-full p-1.5 flex items-center justify-center bg-gray-500/5">
        <%= lucide_icon("pencil-line", class: "w-4 h-4 text-gray-500") %>
      </div>
      <div class="w-full flex items-center justify-between gap-2">
        <%= f.date_field :date, required: "required", min: Account::Entry.min_supported_date, max: Date.current, value: Date.current, class: "border border-alpha-black-200 bg-white rounded-lg shadow-xs min-w-[200px] px-3 py-1.5 text-gray-900 text-sm" %>
        <%= f.number_field :amount, required: "required", placeholder: "0.00", step: "0.01", class: "bg-white border border-alpha-black-200 rounded-lg shadow-xs text-gray-900 text-sm px-3 py-1.5 text-right" %>
        <%= f.hidden_field :currency, value: entry.account.currency %>
      </div>
    </div>

    <div class="col-span-3 flex gap-2 justify-end items-center">
      <%= link_to t(".cancel"), account_valuations_path(entry.account), class: "text-sm text-gray-900 hover:text-gray-800 font-medium px-3 py-1.5" %>
      <%= f.submit class: "bg-gray-50 rounded-lg font-medium px-3 py-1.5 cursor-pointer hover:bg-gray-100 text-sm" %>
    </div>
  </div>
<% end %>
