<%# locals: (entry:, **opts) %>

<% account = entry.account %>
<% valuation = entry.account_valuation %>

<div class="p-4 grid grid-cols-12 items-center text-gray-900 text-sm font-medium">
  <div class="col-span-8 flex items-center gap-4">
    <%= check_box_tag dom_id(entry, "selection"),
                        class: "maybe-checkbox maybe-checkbox--light",
                        data: { id: entry.id, "bulk-select-target": "row", action: "bulk-select#toggleRowSelection" } %>

    <div class="col-span-5 flex items-center gap-3">
      <%= tag.div class: "w-8 h-8 rounded-full p-1.5 flex items-center justify-center", style: mixed_hex_styles(valuation.color) do %>
        <%= lucide_icon valuation.icon, class: "w-4 h-4" %>
      <% end %>

      <div class="truncate text-gray-900">
        <% if entry.new_record? %>
          <%= content_tag :p, entry.name %>
        <% else %>
          <%= link_to valuation.name,
                        account_entry_path(account, entry),
                        data: { turbo_frame: "drawer", turbo_prefetch: false },
                        class: "hover:underline hover:text-gray-800" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-span-2 justify-self-end font-medium text-sm" style="color: <%= valuation.color %>">
    <%= tag.span format_money(valuation.trend.value) %>
  </div>

  <div class="col-span-2 justify-self-end">
    <%= tag.p format_money(entry.amount_money), class: "font-medium text-sm text-gray-900" %>
  </div>
</div>
