<%= turbo_frame_tag dom_id(@account, "valuations") do %>
  <div class="bg-white space-y-4 p-5 border border-alpha-black-25 rounded-xl shadow-xs">
    <div class="flex items-center justify-between">
      <%= tag.h2 t(".valuations"), class: "font-medium text-lg" %>
      <%= link_to new_account_valuation_path(@account),
                  data: { turbo_frame: dom_id(@account.valuations.new) },
                  class: "flex gap-1 font-medium items-center bg-gray-50 text-gray-900 p-2 rounded-lg" do %>
        <%= lucide_icon("plus", class: "w-5 h-5 text-gray-900") %>
        <%= tag.span t(".new_entry"), class: "text-sm" %>
      <% end %>
    </div>

    <div class="rounded-xl bg-gray-25 p-1">
      <div class="grid grid-cols-10 items-center uppercase text-xs font-medium text-gray-500 px-4 py-2">
        <%= tag.p t(".date"), class: "col-span-5" %>
        <%= tag.p t(".value"), class: "col-span-2 justify-self-end" %>
        <%= tag.p t(".change"), class: "col-span-2 justify-self-end" %>
        <%= tag.div class: "col-span-1" %>
      </div>

      <div class="rounded-lg bg-white border-alpha-black-25 shadow-xs">
        <%= turbo_frame_tag dom_id(@account.valuations.new) %>

        <% valuations = @account.valuations.ordered_with_entry %>
        <% if valuations.any? %>
          <%= render partial: "valuation",
                     collection: valuations,
                     spacer_template: "valuation_ruler" %>
        <% else %>
          <p class="text-gray-500 text-sm p-4"><%= t(".no_valuations") %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
