<%= turbo_frame_tag dom_id(@account, "valuations") do %>
  <div class="grid grid-cols-10 items-center uppercase text-xs font-medium text-gray-500 px-4 py-2">
    <%= tag.p t(".date"), class: "col-span-5" %>
    <%= tag.p t(".value"), class: "col-span-2 justify-self-end" %>
    <%= tag.p t(".change"), class: "col-span-2 justify-self-end" %>
    <%= tag.div class: "col-span-1" %>
  </div>

  <div class="rounded-lg bg-white border-alpha-black-25 shadow-xs">
    <%= turbo_frame_tag dom_id(Account::Valuation.new) %>
    <% @account.valuations.reverse_chronological.each do |valuation| %>
      <%= render valuation %>
    <% end %>
  </div>
<% end %>